.ed-course5-sec {
	z-index: 1;
	overflow: hidden;
	margin: 0px 32px;
	border-radius: 20px;
	background-color: #ECF0EF;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs} {
		margin: 0px;
	}
	.ed-cs-shape {
		top: 0;
		left: 0;
		@media #{$xs} {
			display: none;
		}
	}
	.ed-cs-shape2 {
		top: -180px;
		right: 250px;
		@media #{$xs} {
			display: none;
		}
	}
	.ed-cs-shape3 {
		left: 75px;
		z-index: -1;
		bottom: 250px;
		@media #{$xs} {
			display: none;
		}
	}
	.ed-sec-title-5 {
		.subtitle {
			&:before,
			&:after {
				background-color: #ECF0EF;
			}
		}
	}
	.ed-cs-book2 {
		top: 115px;
		right: 95px;
		@media #{$xs} {
			display: none;
		}
	}
	.ed-cs-shape4 {
		right: 0;
		bottom: 0;
		@media #{$xs} {
			display: none;
		}
	}
}
.ed-course5-item {
	border-radius: 8px;
	margin-bottom: 32px;
	background-color: #FFFFFF;
	transition: all 500ms ease-in-out;
	.item-img-cate {
		.inner-img {
			overflow: hidden;
			border-radius: 8px;
			position: relative;
			&:before {
				top: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				content: '';
				position: absolute;
				transform: scaleY(0);
				background-color: rgba(0, 0, 0, .4);
				transform-origin: top;
				transition: all 500ms ease-in-out;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 1000ms cubic-bezier(0.5, -0.75, 0.3, 1.5);
			}
		}
		.inner-cate {
			top: 24px;
			left: 24px;
			z-index: 2;
			font-size: 15px;
			font-weight: 500;
			padding: 6px 16px;
			border-radius: 4px;
			position: absolute;
			background-color: #C3F498;
			color: var(--ed-tt-color-2);
			font-family: var(--ed-heading-2);
		}
	}
	.item-text {
		padding: 33px 40px 35px;
		@media #{$lg,$md,$sm,$xs} {
			padding: 33px 20px 35px;
		}
		.item-rate {
			margin-bottom: 5px;
			li {
				color: #FF9960;
				font-size: 16px;
			}
		}
		h3 {
			font-size: 24px;
			font-weight: 600;
			padding-bottom: 20px;
			color: var(--ed-tt-color-2);
			border-bottom: 1px solid rgba(5, 5, 5, 0.2);
			@media #{$lg,$md,$sm,$xs} {
				font-size: 22px;
			}
		}
		.item-meta {
			margin-top: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid rgba(5, 5, 5, 0.2);
			@media #{$lg,$md,$sm,$xs} {
				gap: 10px 15px;
				flex-wrap: wrap;
			}
			a {
				gap: 10px;
				display: flex;
				font-size: 16px;
				align-items: center;
				font-family: var(--ed-heading-2);
				i {
					width: 40px;
					height: 40px;
					display: flex;
					border-radius: 100%;
					align-items: center;
					justify-content: center;
					background-color: rgba(47, 88, 79, .08);
				}
				b {
					color: #515151;
					font-weight: 500;
				}
			}
		}
		.item-bottom {
			gap: 15px;
			transition: all 500ms ease-in-out;
			@media #{$lg,$md,$sm,$xs} {
				flex-wrap: wrap;
			}
		}
		.item-author {
			gap: 12px;
			.author-img {
				width: 40px;
				height: 40px;
				overflow: hidden;
				border-radius: 100%;
			}
			.author-text {
				font-size: 16px;
				font-weight: 500;
				color: var(--ed-tt-color-2);
			}
		}
		.item-price {
			font-size: 26px;
			font-weight: 600;
			@media #{$lg,$md,$sm,$xs} {
				font-size: 20px;
			}
			span {
				color: #FF9960;
			}
		}
	}
	.crs-btn {
		left: 0;
		right: 0;
		width: 81%;
		bottom: 30px;
		margin: 0 auto;
		position: absolute;
		border-radius: 4px;
		transform: scaleY(0);
		transform-origin: bottom;
		border: 2px solid #FB995A52;
		transition: all 500ms ease-in-out;
		a {
			width: 100%;
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			padding: 14px 15px;
			border-radius: 4px;
			background-color:  var(--ed-prime-c7);
			&:hover {
				letter-spacing: 1px;
			}
		}
	}
	&:hover {
		box-shadow: 16px 16px 28px 0px #2F584F47;
		.item-img-cate {
			.inner-img {
				&:before {
					transform: scaleY(1);
				}
				img {
					transform: scale(1.1);
				}
			}
		}
		.item-bottom {
			opacity: 0;
			visibility: hidden;
			transform: scale(.5);
		}
		.crs-btn {
			transform: scaleY(1);
		}
	}
}