@keyframes hithere {
	30% { transform: scale(1.2); }
	40%, 60% { transform: rotate(-20deg) scale(1.2); }
	50% { transform: rotate(20deg) scale(1.2); }
	70% { transform: rotate(0deg) scale(1.2); }
	100% { transform: scale(1); }
}
.ed-feature5-sec {
	z-index: 2;
	position: relative;
}
.ed-feature5-content {
	z-index: 1;
	padding: 60px;
	overflow: hidden;
	max-width: 1202px;
	margin-top: -127px;
	background-color: #fff;
	box-shadow: 0px 6px 20px 0px #1112181A;
	@media #{$md,$sm,$xs} {
		margin-top: 40px;
	}
	@media #{$xxs} {
		padding: 30px 20px;
	}
	&:before {
		left: -25px;
		width: 66px;
		content: '';
		height: 66px;
		bottom: -25px;
		position: absolute;
		border-radius: 100%;
		background-color: #C3F498;
	}
	.ed-dec-shape {
		top: 0;
		right: 0;
		z-index: -1;
		height: 100%;
		width: 731px;
		display: flex;
		position: absolute;
		background-color: #fff;
		.box_shape_1,
		.box_shape_2 {
			width: 50%;
			height: 100%;
			background-color: #f5f5f5;
		}
		.box_shape_1 {
			margin-right: -2px;
			clip-path: polygon( 0% 99.764%,99.964% 99.764%,99.964% 0.061%,99.964% 0.061%,98.539% 16.171%,94.672% 31.452%,88.565% 45.703%,80.418% 58.724%,70.434% 70.313%,58.814% 80.27%,45.76% 88.395%,31.471% 94.486%,16.151% 98.342%,0% 99.764% );
		}
		.box_shape_2 {
			clip-path: polygon( 99.818% 0.134%,0.126% 0.134%,0.126% 99.837%,0.126% 99.837%,1.547% 83.727%,5.404% 68.446%,11.495% 54.195%,19.619% 41.174%,29.575% 29.585%,41.164% 19.628%,54.183% 11.503%,68.432% 5.412%,83.711% 1.556%,99.818% 0.134% );
		}
	}
}
.ed-feature5-wrap {
	.line-shape-2 {
		top: 0;
		left: 0;
		z-index: 2;
	}
	.line-shape {
		right: 0;
		bottom: 2px;
		height: 65%;
		width: 100px;
		position: absolute;
		&:before,
		&:after {
			top: 0;
			height: 100%;
			content: '';
			position: absolute;
			background-color: #EBEBEB;
		}
		&:before {
			right: 30px;
			width: 20px;
		}
		&:after {
			right: 0;
			width: 12px;
		}
		span {
			width: 32px;
			height: 100%;
			background-color: #EBEBEB;
		}
	}
}
.ed-feature5-item {
	margin: 0 auto;
	max-width: 340px;
	padding: 14px 0px;
	@media #{$xxs} {
		max-width: 100%;
	}
	.item-icon {
		z-index: 1;
		padding-left: 20px;
		position: relative;
		margin-bottom: 28px;
		padding-bottom: 15px;
		border-bottom: 1px solid rgba(5, 5, 5, .20);
		.inner-img {
			width: 64px;
			height: 64px;
		}
		&:before {
			left: 0;
			bottom: 0;
			z-index: -1;
			content: '';
			width: 64px;
			height: 32px;
			position: absolute;
			background-color: #B0D1F3;
			clip-path: polygon( 0% 0.219%,0% 0.219%,0% 0.214%,0% 0.198%,0% 0.176%,0% 0.15%,0% 0.122%,0% 0.096%,0% 0.073%,0% 0.057%,0% 0.051%,0% 0.056%,0% 0.056%,0.656% 16.252%,2.553% 31.618%,5.589% 45.948%,9.659% 59.035%,14.661% 70.674%,20.489% 80.658%,27.041% 88.782%,34.213% 94.84%,41.9% 98.626%,50% 99.934%,50% 99.934%,58.1% 98.626%,65.787% 94.84%,72.959% 88.781%,79.511% 80.655%,85.339% 70.668%,90.341% 59.026%,94.411% 45.934%,97.447% 31.597%,99.344% 16.223%,100% 0.015%,100% 0.179%,0% 0.179%,0% 0.219% );
		}
	}
	.item-text {
		h3 {
			font-size: 22px;
			font-weight: 500;
			padding-bottom: 14px;
		}
		p {
			font-size: 16px;
			max-width: 276px;
			@media #{$xxs} {
				max-width: 100%;
			}
		}
	}
	&:hover {
		.item-icon {
			.inner-img {
				animation: hithere 1s ease infinite;
			}
		}
	}
}
.col-lg-4 {
	&:nth-child(2) {
		.ed-feature5-item {
			.item-icon {
				&:before {
					transform: rotate(-180deg);
					background-color: #FFD9C3;
				}
			}
		}
	}
	&:nth-child(3) {
		.ed-feature5-item {
			.item-icon {
				&:before {
					bottom: 3px;
					transform: rotate(35deg);
					background-color: #EEBFF5;
				}
			}
		}
	}
}