.ed-team5-sec {
	overflow: hidden;
	.ed-sec-title-5 {
		@media #{$md,$sm,$xs} {
			margin-bottom: 30px;
		}
	}
}
.ed-team5-item {
	z-index: 1;
	margin: 0 auto;
	max-width: 408px;
	margin-bottom: 60px;
	padding: 0px 22px 22px 0px;
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		content: '';
		height: 100%;
		position: absolute;
		background-color: #FFECC3;
		clip-path: polygon( 100% 55.67%,100% 21.993%,100% 21.993%,99.795% 18.426%,99.2% 15.042%,98.249% 11.886%,96.973% 9.004%,95.406% 6.442%,93.578% 4.243%,91.522% 2.455%,89.272% 1.121%,86.858% 0.288%,84.314% 0%,83.578% 0%,83.578% 0%,81.034% 0.288%,78.62% 1.121%,76.37% 2.455%,74.314% 4.243%,72.487% 6.442%,70.919% 9.004%,69.643% 11.886%,68.692% 15.042%,68.097% 18.426%,67.892% 21.993%,67.892% 33.677%,67.892% 33.677%,67.687% 37.244%,67.092% 40.628%,66.141% 43.784%,64.866% 46.666%,63.298% 49.228%,61.47% 51.427%,59.415% 53.215%,57.164% 54.549%,54.75% 55.382%,52.206% 55.67%,15.686% 55.67%,15.686% 55.67%,13.142% 55.963%,10.728% 56.809%,8.478% 58.162%,6.422% 59.974%,4.594% 62.198%,3.027% 64.786%,1.751% 67.691%,0.8% 70.866%,0.205% 74.263%,0% 77.835%,0% 77.835%,0.205% 81.407%,0.8% 84.804%,1.751% 87.979%,3.027% 90.884%,4.594% 93.472%,6.422% 95.696%,8.478% 97.508%,10.728% 98.861%,13.142% 99.707%,15.686% 100%,67.892% 100%,84.314% 100%,84.314% 100%,86.858% 99.712%,89.272% 98.879%,91.522% 97.545%,93.578% 95.757%,95.406% 93.558%,96.973% 90.996%,98.249% 88.114%,99.2% 84.958%,99.795% 81.574%,100% 78.007%,100% 55.67% );
	}
	.item-img {
		z-index: 1;
		margin-bottom: 15px;
		&:before {
			left: 0;
			content: '';
			z-index: -1;
			right: -20px;
			width: 195px;
			bottom: -5px;
			height: 195px;
			margin: 0 auto;
			position: absolute;
			border-radius: 100%;
			background-color: #FFDA8A;
		}
		.inner-img {
			width: 195px;
			height: 195px;
			margin: 0 auto;
			overflow: hidden;
			border-radius: 100%;	
		}
	}
	.item-text {
		padding-left: 48px;
		@media #{$lg,$md,$sm,$xs} {
			padding-left: 35px;
		}
		.name-degi {
			h3 {
				font-size: 24px;
				font-weight: 600;
				padding-bottom: 4px;
			}
			span {
				color: #515151;
				font-size: 18px;
				@media #{$lg,$md,$sm,$xs} {
					font-size: 16px;
				}
			}
		}
		.icon-social {
			z-index: 1;
			width: 76px;
			height: 76px;
			overflow: hidden;
			position: relative;
			border-radius: 100%;
			background-color: rgba(5, 5, 5, .06);
			.icon_shape {
				top: 0;
				left: 0;
				z-index: -1;
				position: absolute;
				g {
					rect {
						transition: all 500ms ease-in-out;
					}
				}
			}
			i {
				font-size: 22px;
				transition: all 500ms ease-in-out;
			}
		}
		.social-icon {
			top: 30px;
			z-index: 2;
			right: 35px;
			position: absolute;
			a {
				opacity: 0;
				width: 48px;
				height: 48px;
				display: flex;
				visibility: hidden;
				margin-bottom: 12px;
				align-items: center;
				border-radius: 100%;
				background-color: #fff;
				justify-content: center;
				transform: translateX(-20px);
				box-shadow: 0px 0px 4px 0px rgba(5, 5, 5, 0.2) inset;
				box-shadow: 5px 8px 12px 0px rgba(0, 0, 0, 0.2);
			}
		}
	}
	&:hover {
		.item-text {
			.social-icon {
				a {
					opacity: 1;
					visibility: visible;
					transform: translateX(0px);
					&:hover {
						color: #fff;
						background-color: var(--ed-prime-c7);
					}
					&:nth-child(1) {
						transition-delay: 100ms;
					}
					&:nth-child(2) {
						transition-delay: 200ms;
					}
					&:nth-child(3) {
						transition-delay: 300ms;
					}
				}
			}
		}
	}
}
.col-lg-4 {
	&:nth-child(2) {
		.ed-team5-item {
			&:hover {
				.icon-social {
					i {
						color: #ffaf00;
					}
					.icon_shape {
						g {
							rect {
								fill: #ffd373;
							}
						}
					}
				}
				.item-text {
					.name-degi h3 {
						color: #E5AA21;
					}
				}
			}
		}
	}
	&:nth-child(3) {
		.ed-team5-item {
			&:before {
				background-color: #F9C7C2;
			}
			.item-img {
				&:before {
					background-color: #FDA197;
				}
			}
			&:hover {
				.icon-social {
					i {
						color: #E2503F;
					}
					.icon_shape {
						g {
							rect {
								fill: rgba(226, 80, 63, .24);
							}
						}
					}
				}
				.item-text {
					.name-degi h3 {
						color: #E2503F;
					}
				}
			}
		}
	}
	&:nth-child(4) {
		.ed-team5-item {
			&:before {
				background-color: #BBEEEC;
			}
			.item-img {
				&:before {
					background-color: #39B7B1;
				}
			}
			&:hover {
				.icon-social {
					i {
						color: #00c8bf;
					}
					.icon_shape {
						g {
							rect {
								fill: #75DAD5;
							}
						}
					}
				}
				.item-text {
					.name-degi h3 {
						color: #39B7B1;
					}
				}
			}
		}
	}
	&:nth-child(5) {
		.ed-team5-item {
			&:before {
				background-color: #F0CAF5;
			}
			.item-img {
				&:before {
					background-color: #E59CF0;
				}
			}
			&:hover {
				.icon-social {
					i {
						color: #e536ff;
					}
					.icon_shape {
						g {
							rect {
								fill: #db84e8;
							}
						}
					}
				}
				.item-text {
					.name-degi h3 {
						color: #B457C2;
					}
				}
			}
		}
	}
	&:nth-child(6) {
		.ed-team5-item {
			&:before {
				background-color: #D1F5B1;
			}
			.item-img {
				&:before {
					background-color: #AAE07A;
				}
			}
			&:hover {
				.icon-social {
					i {
						color: #55af05;
					}
					.icon_shape {
						g {
							rect {
								fill: #a5d57a;
							}
						}
					}
				}
				.item-text {
					.name-degi h3 {
						color: #68B526;
					}
				}
			}
		}
	}
}