.ed-vd5-sec {
	overflow: hidden;
	margin: 0px 32px;
	padding: 360px 0px;
	@media #{$md,$sm,$xs} {
		margin: 0;
		padding: 250px 0px;
	}
	@media #{$xxs} {
		padding: 150px 0px;
	}
	.ed-vd5-shape1 {
		right: 0;
		bottom: 0;
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
	.ed-vd5-img {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		.item-img {
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
@keyframes border_animation {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
	20% {
		-webkit-transform: scale(1.24);
		transform: scale(1.24);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(2.1);
		transform: scale(2.1);
		opacity: 0;
	}
}
.ed-vd5-play {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	border-radius: 100%;
	.video-play-btn {
		left: 0;
		top: 50%;
		right: 0;
		opacity: 1;
		margin: 0 auto;
		position: absolute;
		visibility: visible;
		transform: translateY(-50%);
		.video_btn_border {
			border: 15px solid rgba(255, 255, 255, 0.7);
		}
		a {
			width: 108px;
			height: 108px;
			display: flex;
			margin: 0 auto;
			border-radius: 100%;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			position: relative;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			background-color: #fff;
			color: var(--agt-base-color-10);
		}
		.video_btn_border {
			top: 0;
			left: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			border-radius: 60px;
			position: absolute;
			-webkit-animation-play-state: running;
			animation-play-state: running;
			border: 15px solid rgba(255, 255, 255, 0.7);
			animation: border_animation 3.9s linear 0s infinite;
			&.border_wrap-2 {
				animation-delay: 1.3s;
			}
			&.border_wrap-3 {
				animation-delay: 2.6s;
			}
		}
	}
}