.ed-cta-sec-3 {
	z-index: 1;
	.ed-sec-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.ed-cta-content-3 {
	padding: 125px 0px;
	@media #{$xs} {
		padding: 80px 0px;
	}
	.ed-sec-title-3 {
		margin-bottom: 45px;
		.subtitle {
			color: var(--ed-black-color);
		}
		.sec_title {
			font-size: 70px;
			font-weight: 600;
			@media #{$xl,$lg,$md,$sm} {
				font-size: 55px;
			}
			@media #{$xs} {
				font-size: 48px;
			}
			@media #{$xxs} {
				font-size: 38px;
			}
		}
	}
}
