.ed-fun-section {
	overflow: hidden;
}
.ed-fun-slider {
	display: flex;
}
.ed-fun-item {
	padding: 35px;
	position: relative;
	margin-bottom: 10px;
	border-radius: 30px;
	background-color: #ffeaee;
	border: 3px solid var(--ed-black-color);
	&:before {
		left: 0;
		z-index: -1;
		width: 100%;
		content: '';
		height: 100%;
		bottom: -10px;
		position: absolute;
		border-radius: 30px;
		background-image: url(../img/bg/btn-bg.png);
	}
	.item-img {
		width: 100%;
		overflow: hidden;
		margin-bottom: 22px;
		border-radius: 20px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 500ms ease-in-out;
		}
	}
	.item-text {
		.fun_title {
			font-size: 28px;
			font-weight: 600;
			padding-bottom: 8px;
			color: var(--ed-black-color);
		}
		p {
			line-height: 1.3;
		}
		.item-bottom {
			margin-top: 40px;
			padding-top: 20px;
			border-top: 1px solid #d9d9d9;
			font-family: var(--ed-cursive-font-2);
			li {
				color: #535353;
				font-size: 30px;
				font-weight: 700;
				margin-right: 45px;
				position: relative;
				&:before {
					top: 5px;
					right: -25px;
					width: 1px;
					content: '';
					height: 45px;
					position: absolute;
					background-color: #d9d9d9;
				}
				&:last-child {
					margin-right: 0;
					&:before {
						display: none;
					}
				}
				b {
					padding: 5px 25px;
					border-radius: 50px;
					color: var(--ed-black-color);
					background-color: var(--ed-prime-c3);
				}
			}
		}
	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.1);
			}
		}
	}
}
.ed-fn-nav {
	@media #{$xxl,$xl,$lg,$md,$sm,$xs} {
		gap: 15px;
		margin-top: 40px;
		justify-content: center;
	}
	.ed-fn-prev,
	.ed-fn-next {
		top: 50%;
		z-index: 1;
		width: 72px;
		height: 72px;
		position: absolute;
		border-radius: 100%;
		transform: translateY(-50%);
		border: 3px solid var(--ed-black-color);
		@media #{$xxl,$xl,$lg,$md,$sm,$xs} {
			position: static;
			transform: translateY(0);
		}
		&:after {
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			content: '';
			height: 100%;
			border-radius: 100%;
			position: absolute;
			background-color: #fff;
			transition: all 500ms ease-in-out;
		}
		&:before {
			left: 0;
			z-index: -1;
			width: 100%;
			content: "";
			height: 100%;
			bottom: -7px;
			position: absolute;
			border-radius: 100px;
			background-image: url(../img/bg/btn-bg.png);
		}
		&:hover {
			&:after {
				background-color: var(--ed-yellow-color);
			}
		}
	}
	.ed-fn-prev {
		left: -100px;
		@media #{$xxxl} {
			left: -60px;
		}
	}
	.ed-fn-next {
		right: -100px;
		@media #{$xxxl} {
			right: -60px;
		}
	}
}