.ed-wc-sec-3 {
	overflow: hidden;
}
.ed-wc-elem-1 {
	max-width: 420px;
	@media #{$lg,$md,$sm,$xs} {
		width: 100%;
		max-width: 100%;
	}
}
.ed-wc-content-3 {
	gap: 0px 30px;
	@media #{$lg,$md,$sm,$xs} {
		gap: 20px 30px;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.ed-wc-item-3 {
	gap: 15px 25px;
	margin-bottom: 95px;
	@media #{$xxs} {
		margin-bottom: 40px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	@media #{$lg,$md,$sm,$xs} {
		justify-content: center;
	}
	@media #{$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
	.item-text {
		display: flex;
		flex-wrap: wrap;
		justify-content: end;
		max-width: 298px;
		@media #{$xxl} {
			max-width: 250px;
		}
		@media #{$xl} {
			max-width: 185px;
		}
		@media #{$xxs} {
			max-width: 100%;
			justify-content: center;
			text-align: center !important;
		}
		h3 {
			font-size: 28px;
			font-weight: 600;
			padding-bottom: 12px;
			color: var(--ed-black-color);
		}
		p {
			max-width: 250px;
		}
	}
	.item-icon {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		position: relative;
		background-color: #fff;
		border: 3px solid var(--ed-black-color);
		@media #{$xxs} {
			margin-bottom: 15px;
		}
		&:before {
			left: 0;
			z-index: -1;
			width: 100%;
			content: "";
			height: 100%;
			bottom: -8px;
			position: absolute;
			border-radius: 100%;
			background-image: url(../img/bg/btn-bg.png);
		}
	}
}
.ed-wc-elem-2 {
	overflow: hidden;
}
.ed-wc-elem-3 {
	@media #{$lg,$md,$sm,$xs} {
		width: 100%;
		max-width: 100%;
	}
	.ed-wc-item-3 {
		.item-text {
			justify-content: start;
			@media #{$xxs} {
				justify-content: center;
			}
		}
	}
}