.ed-footer-section-1 {
	overflow: hidden;
	padding-top: 85px;
}
.ed-footer-widget-area {
	gap: 30px;
	@media #{$lg,$md,$sm,$xs} {
		flex-wrap: wrap;
	}
}
.ed-ftr-widget {
	@media #{$xs} {
		width: 100%;
	}
	.logo-widget {
		max-width: 405px;
		.brand-logo {
			margin-bottom: 10px;
		}
		p {
			color: #7f7f7f;
			font-size: 17px;
			padding-bottom: 25px;
		}
		.logo-cta-info {
			.info-item {
				margin-bottom: 10px;
				.item-icon {
					width: 30px;
					height: 30px;
					font-size: 14px;
					margin-right: 10px;
					border-radius: 100%;
					color: var(--ed-tt-color);
					background: var(--ed-gradient);
				}
				.item-text {
					color: #fff;
					font-size: 18px;
					font-weight: 800;
				}
			}
		}
	}
	.menu-widget {
		width: 820px;
		display: flex;
		max-width: 820px;
		margin-top: 25px;
		justify-content: space-between;
		@media #{$xs} {
			gap: 25px;
			width: 100%;
			flex-wrap: wrap;
		}
		ul {
			width: 100%;
		}
		li {
			margin-bottom: 18px;
			a {
				color: #fff;
				font-size: 20px;
				font-weight: 800;
				padding-left: 22px;
				position: relative;
				&:before {
					left: 0;
					top: 1px;
					font-size: 20px;
					content: '\f061';
					font-weight: 900;
					position: absolute;
					font-family: 'Font Awesome 6 Free';
					transform: rotate(-45deg);
					transition: all 500ms ease-in-out;
					@extend%gradient-text;
				}
				&:hover {
					color: #00f8cb;
					margin-left: 10px;
					&:before {
						transform: rotate(0);
					}
				}
			}
		}
	}
	.newsletter-widget {
		width: 420px;
		max-width: 420px;
		@media #{$xl} {
			width: 350px;
		}
		@media #{$xs} {
			width: 100%;
			max-width: 100%;
		}
		form {
			position: relative;
		}
		input {
			width: 100%;
			height: 55px;
			border: none;
			font-size: 18px;
			padding-left: 30px;
			border-radius: 4px;
			background-color: #fff;
			&::placeholder {
				font-size: 18px;
			}
		}
		button {
			top: 0;
			right: 0;
			border: none;
			height: 55px;
			line-height: 1;
			font-size: 16px;
			font-weight: 800;
			padding: 20px 30px;
			border-radius: 4px;
			position: absolute;
			color: var(--ed-tt-color);
			background: var(--ed-gradient);
			transition: all 500ms ease-in-out;
			@media #{$xxs} {
				padding: 20px;
			}
			&:hover {
				letter-spacing: 1px;
			}
		}
	}
	.widget-title {
		color: #fff;
		font-size: 22px;
		font-weight: 800;
		padding-bottom: 10px;
	}
}
.ed-footer-bottom {
	margin-top: 20px;
	padding-top: 30px;
	border-top: 1px solid #444548;
	@media #{$lg,$md,$sm,$xs} {
		gap: 30px;
		flex-wrap: wrap;
	}
}
.ed-ft-gallery-social {
	width: 100%;
	max-width: 810px;
	.ed-ft-gallery {
		li {
			width: 112px;
			height: 87px;
			margin: 0px 3px;
			overflow: hidden;
			border-radius: 10px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 500ms ease-in-out;
			}
			@media #{$xxs} {
				width: 90px;
			}
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}
.ed-ft-gallery-social {
	gap: 15px 40px;
	@media #{$xl} {
		gap: 15px 20px;
	}
	@media #{$lg,$md,$sm,$xs} {
		gap: 30px;
		flex-wrap: wrap;
	}
	.ed-ft-social {
		li {
			margin: 7px 0px;
			a {
				color: #fff;
				font-size: 15px;
				font-weight: 800;
				text-transform: uppercase;
				i {
					margin-right: 5px;
				}
				&:hover {
					color: #00f8cb;
				}
			}
		}
	}
}
.ed-footer-copyright {
	padding: 40px 0px 30px;
	span {
		color: #fff;
		font-size: 18px;
		font-weight: 800;
		a {
			@extend%gradient-text;
		}
	}
}
.ed-bottom-area {
	z-index: 1;
	.ed-sec-ft-bg {
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: -1;
		height: 100%;
		max-height: 850px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.ed-footer-sec-2 {
	overflow: hidden;
}
.ed-footer-widget-area-2 {
	padding: 80px 0px;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
	}
}
.ed-ft-widget-2 {
	width: 33.33%;
	padding-right: 15px;
	border-right: 1px solid #232d31;
	@media #{$md,$sm} {
		width: 50%;
	}
	@media #{$xs} {
		width: 100%;
		border: none;
	}
	&:last-child {
		border-right: none;
	}
	.widget-title {
		color: #fff;
		font-size: 27px;
		font-weight: 700;
		padding-bottom: 35px;
		@media #{$xs} {
			padding-bottom: 20px;
		}
	}
	.logo-widget {
		max-width: 380px;
		p {
			color: #fff;
			padding-top: 20px;
			line-height: 1.778;
			padding-bottom: 30px;
			a {
				text-decoration: underline;
			}
		}
		.social-icon {
			gap: 10px;
			a {
				width: 45px;
				height: 45px;
				display: flex;
				align-items: center;
				border-radius: 100%;
				justify-content: center;
				background-color: #fff;
				color: var(--ed-black-color);
				&:hover {
					color: #fff;
					background-color: var(--ed-red-color);
				}
			}
		}
	}
	.cta-widget {
		padding-left: 30px;
		@media #{$xs} {
			padding-left: 0;
			margin-top: 30px;
		}
	}
	.menu-widget {
		padding-left: 30px;
		@media #{$md,$sm,$xs} {
			padding-left: 0;
		}
		ul {
			li {
				width: 48%;
				font-size: 16px;
				margin-bottom: 12px;
				@media #{$lg,$md,$sm,$xs} {
					width: 100%;
				}
				@media #{$md,$sm,$xs} {
					width: auto;
					margin-right: 20px;
				}
				a {
					color: #fff;
					padding-left: 28px;
					position: relative;
					&:before {
						top: 0;
						left: 0;
						color: #fff;
						content: '\f058';
						position: absolute;
						transition: all 500ms ease-in-out;
						font-family: 'Font Awesome 6 Free'; 
					}
					&:hover {
						margin-left: 5px;
						color: var(--ed-yellow-color);
						&:before {
							color: var(--ed-yellow-color);
						}
					}
				}
			}
		}
	}
	.cta-info-item {
		gap: 15px;
		margin-bottom: 20px;
		.item-icon {
			color: #fff;
			width: 38px;
			height: 38px;
			font-size: 15px;
			border-radius: 100%;
			border: 1px dashed #3c5d40;
		}
		.item-text {
			color: #fff;
			font-size: 16px;
			max-width: 275px;
			@media #{$lg,$md,$sm,$xs} {
				max-width: 200px;
			}
		}
	}
}
.ed-copyright-text {
	padding: 25px 0px;
	background-color: #0e1416;
	span {
		color: #fff;
	}
}
.ed-footer-sec-3 {
	background-color: #003936;
	border-left: 2px solid var(--ed-black-color);
	border-right: 2px solid var(--ed-black-color);
}
.ed-ft-newsletter {
	gap: 20px 30px;
	border-bottom: 1px solid #01322f;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
	}
	.ed-sec-title-3 {
		max-width: 665px;
		@media #{$xl,$lg} {
			max-width: 550px;
		}
		@media #{$md,$sm,$xs} {
			max-width: 100%;
		}
		.sec_title {
			color: #fff;
			font-size: 40px;
			@media #{$lg} {
				font-size: 34px;
			}
		}
	}
}
.ed-ft-newsletter-form {
	width: 100%;
	max-width: 410px;
	@media #{$md,$sm,$xs} {
		max-width: 100%;
	}
	input {
		width: 100%;
		height: 70px;
		border: none;
		padding-left: 30px;
		border-radius: 70px;
		background-color: #fff;
		&::placeholder {
			color: #024743;
		}
	}
	button {
		width: 100%;
		height: 75px;
		font-weight: 600;
		margin-top: 8px;
		margin-bottom: 18px;
		border-radius: 70px;
		transition: all 500ms ease-in-out;
		background-color: var(--ed-prime-c4);
		border: 3px solid var(--ed-black-color);
		img {
			margin-left: 5px;
		}
		&:hover {
			color: #fff;
			background-color: var(--ed-prime-c5);
		}
	}
	p {
		color: #fff;
		font-weight: 500;
		text-align: center;
	}
}
.ed-ft-widget-3 {
	position: relative;
	@media #{$xxs} {
		margin-bottom: 30px;
	}
	.widget-title {
		color: #fff;
		font-size: 27px;
		font-weight: 700;
		padding-bottom: 25px;
		@media #{$xxs} {
			padding-bottom: 15px;
		}
	}
	.cta-info {
		.item-info {
			gap: 10px;
			margin-bottom: 15px;
			.cta-icon {
				z-index: 1;
				color: #fff;
				width: 42px;
				height: 42px;
				position: relative;
				border-radius: 100%;
				background-color: #456c48;
				border: 3px solid var(--ed-black-color);
				&:before,
				&:after {
					left: 0;
					z-index: -2;
					width: 100%;
					content: "";
					height: 100%;
					bottom: -7px;
					position: absolute;
					border-radius: 100px;
					background-image: url(../img/bg/btn-bg.png);
				}
				&:after {
					bottom: 0;
					z-index: -1;
					background-image: none;
					background-color: #456c48;
				}
			}
			.cta-text {
				color: #fff;
				font-size: 17px;
				max-width: 275px;
				font-weight: 600;
				line-height: 1.471;
			}
		}
	}
	.menu-widget {
		padding-left: 20px;
		@media #{$xl,$lg,$md,$sm,$xs} {
			padding-left: 0;
		}
		li {
			width: 48%;
			margin-bottom: 10px;
			@media #{$xxs} {
				width: 100%;
			}
			a {
				color: #fff;
				font-size: 17px;
				font-weight: 600;
				position: relative;
				padding-left: 28px;
				&:before {
					top: 0;
					left: 0;
					font-weight: 700;
					content: '\f058';
					position: absolute;
					font-family: 'Font Awesome 6 Free';
				}
				&:hover {
					color: var(--ed-yellow-color);
				}
			}
		}
	}
	.title-info {
		max-width: 400px;
		padding-left: 40px;
		@media #{$md,$sm,$xs} {
			padding-left: 0;
			max-width: 100%;
			margin-top: 30px;
		}
		.sec_title {
			color: #fff;
			font-size: 35px;
		}
	}
}
.ed-copyright-text-3 {
	color: #fff;
	font-weight: 500;
	padding: 25px 0px;
	background-color: #01322f;
}
.ed-footer-gallery {
	bottom: 0;
	right: 0;
	max-width: 690px;
	position: absolute;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs} {
		display: none;
	}
	.top_item {
		display: flex;
		justify-content: end;
	}
	.bottom_item {
		display: flex;
		flex-wrap: wrap;
		li {
			width: 33.33%;
		}
	}
}
.ed-footer-sec-4 {
	overflow: hidden;
}
.ed-footer4-cta {
	gap: 30px;
	overflow: hidden;
	border-bottom: 1px solid #1a2127;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.ed-ft4-cta-text {
	margin: 0 auto;
	max-width: 470px;
	@media #{$md,$sm,$xs} {
		max-width: 100%;
		width: 100%;
	}
	h2 {
		color: #fff;
		font-size: 40px;
		font-weight: 800;
		margin-bottom: 20px;
		@media #{$lg} {
			font-size: 30px;
		}
		@media #{$xs} {
			font-size: 30px;
		}
	}
	.cta_info {
		color: #fff;
		font-weight: 700;
	}
	.cta_btn {
		margin-top: 25px;
		a {
			font-size: 18px;
			font-weight: 800;
			padding: 17px 30px;
			border-radius: 40px;
			color: var(--ed-black-color);
			background-color: var(--ed-prime-c6);
			@media #{$xs} {
				font-size: 16px;
				font-weight: 600;
				padding: 14px 25px;
			}
			&:hover {
				background-color: #fff;
			}
		}
	}
}
.ed-ft4-cta-img {
	.item-img-1,
	.item-img-4 {
		overflow: hidden;
		border-radius: 200px;
	}
	.cta-img-wrapper {
		gap: 15px;
	}
	.item-img-2 {
		overflow: hidden;
		border-radius: 200px;
	}
}
.ed-footer4-widget-area {
	@media #{$lg,$md,$sm,$xs} {
		gap: 30px;
		flex-wrap: wrap;
	}
}
.ed-ft4-widget {
	.widget-title {
		color: #fff;
		font-size: 22px;
		font-weight: 800;
		padding-bottom: 28px;
	}
	.menu-widget {
		li {
			margin-bottom: 15px;
			a {
				color: #a3a7ac;
				font-size: 16px;
				font-weight: 800;
				position: relative;
				padding-left: 25px;
				&:before {
					left: 0;
					top: 5px;
					width: 24px;
					content: '';
					height: 24px;
					position: absolute;
					background-repeat: no-repeat;
					background-image: url(../img/icon/arrow-6.png);
				}
				&:hover {
					color: var(--ed-prime-c6);
					transform: translateX(10px);
				}
			}
		}
	}
	.newsletter-widget {
		max-width: 430px;
		@media #{$xl} {
			max-width: 350px;
		}
		p {
			color: #a3a7ac;
			padding-bottom: 35px;
		}
		form {
			overflow: hidden;
			position: relative;
			border-radius: 30px;
			input {
				width: 100%;
				height: 63px;
				border: none;
				padding-left: 20px;
				border-radius: 30px;
				background-color: #373a41;
			}
			button {
				top: 0;
				right: 0;
				height: 100%;
				border: none;
				font-size: 16px;
				font-weight: 700;
				position: absolute;
				padding: 10px 25px;
				color: var(--ed-black-color);
				transition: all 500ms ease-in-out;
				background-color: var(--ed-prime-c6);
				&:hover {
					background-color: #fff;
				}
			}
		}
	}
}
.ed--ft4-about {
	.ed_ab_title {
		gap: 20px;
		display: flex;
		align-items: center;
		span {
			color: #fff;
			font-size: 14px;
			font-weight: 700;
			white-space: nowrap;
			
		}
		i {
			width: 100%;
			border-top: 1px solid #1a2127;
		}
	}
}
.ed-ft4-counter {
	@media #{$lg,$md,$sm,$xs} {
		gap: 30px;
		flex-wrap: wrap;
	}
	.brand-logo-text {
		gap: 50px;
		max-width: 790px;
		@media #{$xs} {
			gap: 30px;
			flex-wrap: wrap;
		}
		@media #{$xl} {
			gap: 20px 30px;
			max-width: 590px;
		}
		p {
			color: #a3a7ac;
			font-size: 16px;
		}
	}
}
.ft4-counter-wrap {
	gap: 20px 50px;
	@media #{$xl} {
		gap: 20px 25px;
	}
	@media #{$xs} {
		gap: 15px 30px;
		flex-wrap: wrap;
	}
}
.ft4-count-item {
	h3 {
		color: #fff;
		font-size: 30px;
		font-weight: 800;
	}
	p {
		color: #9b9fa4;
		font-weight: 800;
	}
}
.ed-ft-copyright4 {
	padding: 20px 0px;
	border-top: 1px solid #1a2127;
	@media #{$xs} {
		gap: 30px;
		flex-wrap: wrap;
	}
	p {
		color: #fff;
		font-size: 16px;
		font-weight: 500;
	}
	.ed-payment {
		span {
			color: #fff;
			font-size: 18px;
			font-weight: 600;
		}
	}
}
.ed-footer5-sec {
	overflow: hidden;
	background-color: #050505;
}
.ed-footer5-newsletter {
	gap: 20px 30px;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
	}
}
.ed-footer5-newsletter-form {
	width: 100%;
	gap: 20px 60px;
	max-width: 870px;
	border-bottom: 1px solid rgba(217, 217, 217, .40);
	@media #{$xl} {
		max-width: 800px;
	}
	@media #{$lg} {
		max-width: 800px;
		flex-wrap: wrap;
	}
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		max-width: 100%;
	}
	h3 {
		color: #fff;
		font-size: 40px;
		font-weight: 600;
		max-width: 305px;
	}
	form {
		width: 100%;
		max-width: 505px;
		position: relative;
		@media #{$xl} {
			max-width: 450px;
		}
		input {
			width: 100%;
			height: 60px;
			border-radius: 6px;
			padding-left: 28px;
			border: 1px solid #FFFFFF;
			background-color: transparent;
			transition: all 300ms ease-in-out;
			&:placeholder {
				color: rgba(255, 255, 255, .60);
			}
			&:focus {
				border: 1px solid var(--ed-prime-c7);
			}
		}
		button {
			top: 6px;
			right: 6px;
			border: none;
			color: #050505;
			padding: 10px 20px;
			position: absolute;
			border-radius: 4px;
			background-color: #FF9960;
			transition: all 500ms ease-in-out;
			@media #{$xs} {
				position: static;
				margin-top: 20px;
			}
			&:hover {
				background-color: #fff;
			}
		}
	}
}
.ed-footer5-widget-wrap {
	gap: 20px 30px;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		gap: 20px 30px;
	}
}
.ed-footer5-widget-area {
	width: 100%;
	gap: 15px 30px;
	max-width: 870px;
	padding-top: 35px;
	@media #{$xl} {
		max-width: 800px;
	}
	@media #{$lg,$md,$sm,$xs} {
		max-width: 750px;
	}
	@media #{$md,$sm,$xs} {
		max-width: 100%;
		gap: 15px 45px;
	}
	@media #{$xs} {
		flex-wrap: wrap;
	}
}
.ed-footer-1-menu li .has-dropdown {
	padding-top: 14px;
	padding-left: 20px;
	display: none;
}
.ed-footer5-widget {
	@media #{$xxs} {
		width: 100%;
	}
	.widget-title {
		color: #FFDA8A;
		font-size: 16px;
		font-weight: 500;
		padding-bottom: 20px;
	}
	.ed-ft-img {
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
	.menu-widget {
		li {
			font-weight: 500;
			margin-bottom: 12px;
			font-family: var(--ed-heading-2);
			a {
				color: rgba(255, 255, 255, .8);
				position: relative;
				&:hover {
					color: #FFDA8A;
					transform: translateX(5px);
				}
			}
			&:is(.dropdown) {
				a {
					&:before {
						top: 2px;
						color: rgba(255, 255, 255, .8);
						right: -20px;
						font-size: 14px;
						content: '\f078';
						font-weight: 700;
						position: absolute;
						font-family: 'Font Awesome 6 Free';
					}
				}
			}
			.has-dropdown {
				padding-left: 0;
				a {
					font-size: 16px;
					color: rgba(255, 255, 255, 1);
					&:before {
						display: none;
					}
				}
			}
		}
	}
	.menu-widget-2 {
		li {
			margin-bottom: 12px;
			a {
				padding-left: 14px;
				position: relative;
				color: rgba(255, 255, 255, .8);
				&:before {
					left: 0;
					top: 10px;
					width: 6px;
					height: 6px;
					content: '';
					position: absolute;
					border-radius: 100%;
					background-color: #fff;
				}
				&:hover {
					color: #FFDA8A;
					transform: translateX(5px);
				}
			}
		}
	}
	.cta-widget {
		max-width: 260px;
		.cta-info-item {
			gap: 15px;
			margin-bottom: 12px;
			font-family: var(--ed-heading-2);
			.item-icon {
				width: 20px;
				color: #4AD2CC;
				font-size: 16px;
				margin-top: 3px;
			}
			.item-text {
				max-width: 224px;
				color: rgba(255, 255, 255, .80);
			}
		}
	}
}
.ed-copyright5 {
	padding: 25px 0px;
	border-top: 1px solid rgba(255, 255, 255, .32);
	.ed-copyright5-content {
		gap: 15px 30px;
		font-size: 16px;
		@media #{$md,$sm,$xs} {
			flex-wrap: wrap;
		}
		p {
			color: rgba(255, 255, 255, 0.64);
			a {
				color: #fff;
			}
		}
		.copyright5-social {
			a {
				margin-left: 48px;
				color: rgba(255, 255, 255, 0.76);
				@media #{$xs} {
					margin-left: 0;
					margin-right: 15px;
				}
				i {
					color: #fff;
					margin-right: 10px;
					transition: all 400ms ease-in-out;
				}
				&:first-child {
					margin-left: 0;
				}
				&:hover {
					color: var(--ed-prime-c7);
					i {
						color: var(--ed-prime-c8);
					}
				}
			}
		}
	}
}
.ed-footer6-sec {
	z-index: 1;
	overflow: hidden;
	margin-top: 12px;
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		content: '';
		height: 100%;
		position: absolute;
		background-color: rgba(5, 5, 5, .84)
	}
}
.ed-footer6-widget-wrap {
	gap: 30px 40px;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
	}
}
.ed-footer6-widget-area {
	width: 100%;
	max-width: 812px;
	.ed-footer6-widget-cont {
		overflow: hidden;
		border-radius: 8px;
		border-radius: 8px;
		padding: 50px 50px 32px;
		background-color: #212227;
		border: 1px solid transparent;
		background: linear-gradient(#212227, #212227) padding-box, 
		linear-gradient(98.4deg, #FF8025 0%, rgba(195, 153, 0, 0) 30.57%, rgba(195, 108, 18, 0) 66.14%, #C11336 100%) border-box;
		@media #{$lg,$md,$sm,$xs} {
			padding: 30px 30px;
		}
		@media #{$xs} {
			gap: 30px;
			flex-wrap: wrap;
		}
	}
}
.ed-footer6-widget {
	.logo-widget {
		max-width: 420px;
		p {
			color: #fff;
			padding-bottom: 42px;
		}
		.brand-logo {
			margin-bottom: 20px;
		}
		.logo-social {
			gap: 14px;
			display: flex;
			a {
				width: 52px;
				height: 52px;
				display: flex;
				color: #FFFFFF;
				border-radius: 100%;
				align-items: center;
				justify-content: center;
				background-color: #212227;
				&:hover {
					background-color: var(--ed-prime-c9);
				}
			}
		}
	}
}
.ed-footer6-widget-area {
	.ed-footer5-widget .widget-title {
		color: #F4BF00;
	}
	.ed-footer5-widget .cta-widget .cta-info-item .item-icon {
		color: var(--ed-prime-c9);
	}
}
.ed-footer6-gallery {
	h3 {
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		padding-bottom: 20px;
	}
	li {
		width: 122px;
		height: 133px;
		overflow: hidden;
		margin-right: 10px;
		border-radius: 8px;
		position: relative;
		@media #{$xxs} {
			width: 80px;
			height: 80px;
		}
		a {
			width: 100%;
			height: 100%;
			&:before {
				top: 0;
				left: 0;
				width: 0%;
				opacity: .7;
				content: "";
				height: 100%;
				position: absolute;
				-webkit-transition: 500ms all ease;
				transition: 500ms all ease;
				background-color: var(--ed-prime-c9);
			}
			&:after {
				left: 0;
				right: 0;
				top: 40%;
				opacity: 0;
				color: #fff;
				font-size: 18px;
				content: "\f066";
				font-weight: 900;
				text-align: center;
				position: absolute;
				-webkit-transition: 500ms all ease;
				transition: 500ms all ease;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				font-family: "Font Awesome 5 free";
			}
			&:hover:before {
				width: 100%;
			}
			&:hover:after {
				top: 50%;
				opacity: 1;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.ed-footer6-copyright {
	margin-top: -30px;
	@media #{$lg,$md,$sm,$xs} {
		margin-top: 0;
		padding-top: 20px;
		text-align: center;
	}
	p {
		color: rgba(255, 255, 255, .70);
	}
}