/*----------------------------------------------------

1. Global Area 
2. Header Section

******* HOME PAGE 1 *******



=====================================================================*/


@import "template";
@import "header";
@import "offcanvas";
@import "search";

/*global area*/
/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */


/******* Home Page 1 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_1/hero";
/*---------------------------------------------------- */
/*Course Category area*/
/*----------------------------------------------------*/
@import "home_1/course-cate";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_1/about";
/*---------------------------------------------------- */
/*Featured Class area*/
/*----------------------------------------------------*/
@import "home_1/featured-class";
/*---------------------------------------------------- */
/*Top Rate area*/
/*----------------------------------------------------*/
@import "home_1/top-rate";
/*---------------------------------------------------- */
/*Team area*/
/*----------------------------------------------------*/
@import "home_1/team";
/*---------------------------------------------------- */
/*Price area*/
/*----------------------------------------------------*/
@import "home_1/price";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_1/testimonial";
/*---------------------------------------------------- */
/*Faq area*/
/*----------------------------------------------------*/
@import "home_1/faq";
/*---------------------------------------------------- */


/******* Home Page 2 *******/
/*Slider area*/
/*----------------------------------------------------*/
@import "home_2/slider";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_2/about";
/*---------------------------------------------------- */
/*Course area*/
/*----------------------------------------------------*/
@import "home_2/course";
/*---------------------------------------------------- */
/*Why Choose area*/
/*----------------------------------------------------*/
@import "home_2/why-choose";
/*---------------------------------------------------- */
/*intro area*/
/*----------------------------------------------------*/
@import "home_2/intro";
/*---------------------------------------------------- */
/*Program area*/
/*----------------------------------------------------*/
@import "home_2/program";
/*---------------------------------------------------- */
/*Collaborate area*/
/*----------------------------------------------------*/
@import "home_2/collaborate";
/*---------------------------------------------------- */
/*Team 2 area*/
/*----------------------------------------------------*/
@import "home_2/team";
/*---------------------------------------------------- */
/*Review Count area*/
/*----------------------------------------------------*/
@import "home_2/review-count";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_2/blog";
/*---------------------------------------------------- */
/*Faq area*/
/*----------------------------------------------------*/
@import "home_2/faq";
/*---------------------------------------------------- */


/******* Home Page 3 *******/
/*Slider area*/
/*----------------------------------------------------*/
@import "home_3/hero";
/*---------------------------------------------------- */
/*Category area*/
/*----------------------------------------------------*/
@import "home_3/category";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_3/about";
/*---------------------------------------------------- */
/*Fun area*/
/*----------------------------------------------------*/
@import "home_3/fun";
/*---------------------------------------------------- */
/*Why choose area*/
/*----------------------------------------------------*/
@import "home_3/why-choose";
/*---------------------------------------------------- */
/*Activity area*/
/*----------------------------------------------------*/
@import "home_3/activity";
/*---------------------------------------------------- */
/*Video Client area*/
/*----------------------------------------------------*/
@import "home_3/video-client";
/*---------------------------------------------------- */
/*Counter area*/
/*----------------------------------------------------*/
@import "home_3/counter";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_3/blog";
/*---------------------------------------------------- */
/*CTA area*/
/*----------------------------------------------------*/
@import "home_3/cta";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_3/testimonial";
/*---------------------------------------------------- */
/*Media Frame area*/
/*----------------------------------------------------*/
@import "home_3/media-frame";
/*---------------------------------------------------- */
/*Contact  area*/
/*----------------------------------------------------*/
@import "home_3/contact";
/*---------------------------------------------------- */

/******* Home Page 4 *******/
/*Hero  area*/
/*----------------------------------------------------*/
@import "home_4/hero";
/*---------------------------------------------------- */
/*Course  area*/
/*----------------------------------------------------*/
@import "home_4/course";
/*---------------------------------------------------- */
/*Team  area*/
/*----------------------------------------------------*/
@import "home_4/team";
/*---------------------------------------------------- */
/*About  area*/
/*----------------------------------------------------*/
@import "home_4/about";
/*---------------------------------------------------- */
/*Counter  area*/
/*----------------------------------------------------*/
@import "home_4/counter";
/*---------------------------------------------------- */
/*Counter  area*/
/*----------------------------------------------------*/
@import "home_4/faq";
/*---------------------------------------------------- */


/******* Home Page 5 *******/
/*Hero  area*/
/*----------------------------------------------------*/
@import "home_5/hero";
/*---------------------------------------------------- */
/*Feature  area*/
/*----------------------------------------------------*/
@import "home_5/feature";
/*---------------------------------------------------- */
/*Category  area*/
/*----------------------------------------------------*/
@import "home_5/category";
/*---------------------------------------------------- */
/*About  area*/
/*----------------------------------------------------*/
@import "home_5/about";
/*---------------------------------------------------- */
/*Course  area*/
/*----------------------------------------------------*/
@import "home_5/course";
/*---------------------------------------------------- */
/*Sponsor  area*/
/*----------------------------------------------------*/
@import "home_5/sponsor";
/*---------------------------------------------------- */
/*Team  area*/
/*----------------------------------------------------*/
@import "home_5/team";
/*---------------------------------------------------- */
/*Event  area*/
/*----------------------------------------------------*/
@import "home_5/event";
/*---------------------------------------------------- */
/*Why choose  area*/
/*----------------------------------------------------*/
@import "home_5/why-choose";
/*---------------------------------------------------- */
/*Testimonial  area*/
/*----------------------------------------------------*/
@import "home_5/testimonial";
/*---------------------------------------------------- */
/*Video  area*/
/*----------------------------------------------------*/
@import "home_5/video";
/*---------------------------------------------------- */
/*Blog  area*/
/*----------------------------------------------------*/
@import "home_5/blog";
/*---------------------------------------------------- */


/******* Home Page 6 *******/
/*Hero  area*/
/*----------------------------------------------------*/
@import "home_6/hero";
/*---------------------------------------------------- */
/*Feature  area*/
/*----------------------------------------------------*/
@import "home_6/feature";
/*---------------------------------------------------- */
/*About  area*/
/*----------------------------------------------------*/
@import "home_6/about";
/*---------------------------------------------------- */
/*Course  area*/
/*----------------------------------------------------*/
@import "home_6/course";
/*---------------------------------------------------- */
/*Cta  area*/
/*----------------------------------------------------*/
@import "home_6/cta";
/*---------------------------------------------------- */
/*Program  area*/
/*----------------------------------------------------*/
@import "home_6/program";
/*---------------------------------------------------- */
/*Process  area*/
/*----------------------------------------------------*/
@import "home_6/process";
/*---------------------------------------------------- */
/*Testimonial  area*/
/*----------------------------------------------------*/
@import "home_6/testimonial";
/*---------------------------------------------------- */
/*Contact  area*/
/*----------------------------------------------------*/
@import "home_6/contact";
/*---------------------------------------------------- */
/*Sponsor  area*/
/*----------------------------------------------------*/
@import "home_6/sponsor";
/*---------------------------------------------------- */
/*Blog  area*/
/*----------------------------------------------------*/
@import "home_6/blog";
/*---------------------------------------------------- */
/*Newsletter  area*/
/*----------------------------------------------------*/
@import "home_6/newsletter";
/*---------------------------------------------------- */



/******* Inner Pages *******/
/*Breadcrumb  area*/
/*----------------------------------------------------*/
@import "inner_pages/breadcrumb";
/*---------------------------------------------------- */
/*Course Category  area*/
/*----------------------------------------------------*/
@import "inner_pages/course-cate";
/*---------------------------------------------------- */
/*Sidebar  area*/
/*----------------------------------------------------*/
@import "inner_pages/sidebar";
/*---------------------------------------------------- */
/*Course Details  area*/
/*----------------------------------------------------*/
@import "inner_pages/course-details";
/*---------------------------------------------------- */
/*Event Details  area*/
/*----------------------------------------------------*/
@import "inner_pages/event-details";
/*---------------------------------------------------- */
/*Event Details  area*/
/*----------------------------------------------------*/
@import "inner_pages/instructor-details";
/*---------------------------------------------------- */
/*Zoom Meeting  area*/
/*----------------------------------------------------*/
@import "inner_pages/zoom-meeting";
/*---------------------------------------------------- */
/*Blog List Page  area*/
/*----------------------------------------------------*/
@import "inner_pages/blog-page";
/*---------------------------------------------------- */
/*Blog Details Page  area*/
/*----------------------------------------------------*/
@import "inner_pages/blog-details";
/*---------------------------------------------------- */
/*Contact Page  area*/
/*----------------------------------------------------*/
@import "inner_pages/contact";
/*---------------------------------------------------- */
/*Team Page  area*/
/*----------------------------------------------------*/
@import "inner_pages/team";
/*---------------------------------------------------- */
/*Gallery Page  area*/
/*----------------------------------------------------*/
@import "inner_pages/gallery";
/*---------------------------------------------------- */

/*Footer  area*/
/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */





