.ed-collaborate-sec {
	.ed-sec-title-2,
	.ed-sec-title {
		margin: 0 auto;
		max-width: 845px;
		.sec_title {
			font-size: 50px;
			@media #{$lg,$md} {
				font-size: 40px;
			}
			@media #{$xs} {
				font-size: 36px;
			}
			@media #{$xxs} {
				font-size: 32px;
			}
		}
	}
}
.ed-collaborate-content {
	gap: 20px;
	display: grid;
	overflow: hidden;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	@media #{$md,$sm} {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	@media #{$xs} {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media #{$xxs} {
		grid-template-columns: 1fr 1fr;
	}
}
.ed-coll-item {
	.item-img {
		height: 170px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}