.ed-team-section-2 {
	overflow: hidden;
	.ed-sec-tm-bg {
		bottom: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		max-height: 563px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.ed-team-slider-2 {
	display: flex;
}
.ed-team-item-2 {
	margin:  0 auto;
	overflow: hidden;
	max-width: 435px;
	border-top-left-radius: 300px;
	border-top-right-radius: 300px;
	transition: all 600ms ease-in-out;
	border-left: 4px solid var(--ed-tt-color);
	.item-text {
		left: 0;
		bottom: 0;
		overflow: hidden;
		position: absolute;
		background-color: var(--ed-black-color);
		.inner-text {
			padding: 28px 35px 28px 50px;
			@media #{$lg,$md,$sm,$xs} {
				padding: 28px 15px 28px 20px;
			}
			@media #{$xxs} {
				padding-left: 30px;
			}
			h3 {
				color: #fff;
				line-height: 1;
				font-size: 30px;
				font-weight: 800;
				padding-bottom: 5px;
				@media #{$lg,$md,$sm,$xs} {
					font-size: 26px;
				}
				@media #{$xxs} {
					font-size: 24px;
				}
				@media #{$xxxs} {
					font-size: 20px;
				}
			}
			span {
				color: #fff;
				font-size: 18px;
				font-weight: 300;
			}
		}
		.inner-social {
			width: 70px;
			height: 120px;
			text-align: center;
			background-color: #1c1b1b;
			i {
				color: #fff;
				width: 35px;
				height: 35px;
				font-size: 16px;
				line-height: 35px;
				border-radius: 100%;
				background-color: var(--ed-red-color);
			}
		}
	}
	.social-link {
		right: 64px;
		bottom: 120px;
		display: flex;
		text-align: center;
		position: absolute;
		transition: all 500ms ease-in-out;
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
		@media #{$lg,$md,$sm,$xs} {
			left: 0;
			right: auto;
		}
		a {
			width: 70px;
			height: 70px;
			line-height: 70px;
			display: inline-block;
			background-color: #fff;
			border-bottom: 1px solid #f0f0f0;
			color: var(--ed-black-color);
			@media #{$xxs} {
				width: 50px;
				height: 50px;
				line-height: 50px;
			}
			&:hover {
				color: var(--ed-red-color);
			}
		}
	}
	&:hover {
		border-left: 4px solid var(--ed-tt-color);
		box-shadow: -8px 0 0 0 var(--ed-tt-color);
		.social-link {
			clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		}
	}
}