.ed-ab4-sec {
	overflow: hidden;
}
.ed-ab4-content {
	gap: 40px 60px;
	@media #{$lg,$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.ed-ab4-text {
	max-width: 680px;
	@media #{$lg,$md,$sm} {
		max-width: 100%;
	}
	.ed-sec-title-4 {
		.sec_title {
			font-size: 75px;
			@media #{$xl} {
				font-size: 70px;
			}
			@media #{$lg,$md,$sm} {
				font-size: 60px;
			}
			@media #{$xs} {
				font-size: 45px;
			}
			@media #{$xxs} {
				font-size: 38px;
			}
		}
		p {
			max-width: 600px;
			padding-top: 12px;
		}
	}
}
.ed-ab4-bottom {
	gap: 15px 30px;
	@media #{$lg,$md,$sm,$xs} {
		margin-top: 30px;
	}
	@media #{$xs} {
		flex-wrap: wrap;
	}
	.ed-ab4-client {
		gap: 15px;
		ul {
			display: flex;
		}
		li {
			width: 60px;
			height: 60px;
			overflow: hidden;
			border-radius: 100%;
			margin-left: -25px;
			&:first-child {
				margin-left: 0;
			}
		}
		span {
			font-size: 18px;
			font-weight: 600;
			color: var(--ed-black-color);
		}
	}
}
.ed-ab4-img {
	max-width: 660px;
	@media #{$xl} {
		max-width: 580px;
	}
}
.ab4-item-img {
	gap: 18px;
	margin-bottom: 20px;
	.item-img-1 {
		height: 170px;
		max-width: 240px;
		overflow: hidden;
		border-radius: 150px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.item-img-2 {
		height: 170px;
		max-width: 445px;
		overflow: hidden;
		border-radius: 150px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}