.ed-course-cate-sec-4 {
	overflow: hidden;
}
.ed-course-cate-content-4 {
	display: flow-root;
}
.ed-cc-item-4 {
	width: 100%;
	float: left;
	width: 375px;
	padding: 35px;
	height: 385px;
	position: relative;
	display: inline-block;
	background-color: #ffc6b5; 
	.item-img {
		width: 300px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.item-text {
		left: 0;
		right: 0;
		z-index: 2;
		bottom: 32px;
		text-align: center;
		position: absolute;
		h3 {
			font-size: 28px;
			font-weight: 800;
			color: var(--ed-black-color);
		}
	}
	&:nth-child(2) {
		background-color: #fce1e6;
	}
	&:nth-child(3) {
		background-color: #8c95e6;
	}
	&:nth-child(4) {
		background-color: #eedec5;
	}

	&:nth-child(5) {
		background-color: #e6f4ff;
	}
	&:nth-child(6) {
		background-color: #eedec5;
	}
}
.ed-oc-section {
	overflow: hidden;
}
.ed-oc-top-content {
	gap: 15px 30px;
}
.ed-oc-filter-btn {
	button {
		font-size: 15px;
		font-weight: 700;
		margin-left: 8px;
		margin-bottom: 10px;
		border-radius: 20px;
		padding: 16px 25px 10px;
		color: var(--ed-black-color);
		background-color: transparent;
		transition: all 500ms ease-in-out;
		border: 2px solid var(--ed-black-color); 
		&.is-checked {
			background-color: var(--ed-prime-c6);
			border: 2px solid var(--ed-prime-c6);
		}
	}
}
.ed-oc-item {
	.item-img {
		margin-bottom: 18px;
		.inner-img {
			overflow: hidden;
			position: relative;
			border-radius: 25px 25px 100px 25px;
			&:before {
				top: 0;
				left: 0;
				width: 100%;
				z-index: 1;
				height: 100%;
				content: '';
				position: absolute;
				transform: scale(0);
				transform-origin: top left;
				transition: all 400ms ease-in-out;
				background-color: rgba(0, 0, 0, .5);
				border-radius: 25px 25px 100px 25px;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 500ms ease-in-out;
			}
		}
		span {
			right: 0;
			bottom: 0;
			z-index: 2;
			width: 65px;
			height: 65px;
			display: flex;
			font-size: 20px;
			font-weight: 600;
			position: absolute;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			background-color: var(--ed-prime-c6);
		}
	}
	.item-text {
		span {
			color: #949494;
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 6px;
		}
		.course_title {
			font-size: 22px;
			font-weight: 700;
			line-height: 1.364;
			padding-bottom: 12px;
			color: var(--ed-black-color);
		}
		.cb-bottom {
			padding-top: 10px;
			border-top: 2px solid #e8e8e8;
			li {
				font-size: 14px;
				font-weight: 500;
				margin-right: 24px;
				color: var(--ed-black-color);
				&:last-child {
					margin-right: 0;
				}
				i {
					margin-right: 5px;
				}
			}
		}
		.oc-author {
			margin-top: 35px;
			position: relative;
			border-radius: 22px; 
			border: 2px solid var(--ed-black-color);
			&:before {
				top: 0;
				left: 55%;
				width: 2px;
				content: '';
				height: 100%;
				position: absolute;
				transform: translateX(-50%);
				background-color: var(--ed-black-color);
			}
			a {
				font-size: 13px;
				font-weight: 700;
				white-space: nowrap;
				padding: 16px 30px 13px;
				color: var(--ed-black-color);
				@media #{$xl,$lg} {
					padding: 16px 10px 13px;
				}
				@media #{$md,$sm} {
					padding: 16px 20px 13px;
				}
				&:hover {
					color: #1d59e8;
				}
			}
		}
	}
	&:hover {
		.item-img {
			.inner-img {
				img {
					transform: scale(1.05);
				}
				&:before {
					transform: scale(1);
				}
			}
		}
	}
}
.ed-filter-area { 
	margin: 0px -20px;
	.grid-sizer {
		width: 25%;
		@media #{$lg} {
			width: 33.33%;
		}
		@media #{$md} {
			width: 50%;
		}
		@media #{$sm,$xs} {
			width: 100%;
		}
	}
	.grid-item {
		float: left;
		padding: 20px;
		display: inline-block;
	} 
	.grid-size-25 {
		width: 25%;
		@media #{$lg} {
			width: 33.33%;
		}
		@media #{$md} {
			width: 50%;
		}
		@media #{$sm,$xs} {
			width: 100%;
		}
	}
}
.ed-ins-co-sec {
	overflow: hidden;
	background-color: #f9f4f0;
}