.ed-cont6-sec {
	overflow: hidden;
	background-color: #900824;
	&:before {
		top: 0;
		right: 0;
		content: '';
		width: 46%;
		height: 100%;
		position: absolute;
		background-color: #fff;
		clip-path: polygon( 3.099% 99.67%,3.099% 100%,100% 100%,100% 0%,1.69% 0%,1.69% 2.967%,0.141% 4.066%,0.986% 4.396%,0.986% 5.275%,0% 5.824%,0.563% 5.934%,0.563% 7.253%,0% 7.473%,2.817% 9.011%,2.817% 10.769%,2.394% 10.879%,2.394% 12.198%,3.099% 12.527%,3.099% 12.747%,2.254% 12.747%,2.394% 13.736%,5.07% 15.275%,5.211% 15.934%,5.352% 16.703%,5.07% 16.923%,5.07% 18.022%,5.352% 18.022%,5.352% 19.89%,5.07% 20.33%,4.789% 20.33%,4.789% 22.198%,5.07% 22.198%,5.07% 24.725%,2.958% 25.714%,2.817% 26.923%,1.972% 27.582%,1.69% 28.681%,1.127% 29.89%,1.127% 30.989%,0.845% 31.099%,0.845% 31.648%,1.127% 31.978%,1.127% 33.187%,2.254% 33.626%,2.254% 34.725%,1.972% 35.385%,2.535% 36.154%,2.535% 37.143%,2.817% 37.802%,3.38% 38.132%,3.38% 38.791%,2.535% 39.56%,2.535% 40.879%,3.099% 41.099%,3.099% 41.758%,2.254% 41.978%,2.254% 43.516%,3.662% 45.275%,3.662% 46.374%,3.099% 46.703%,3.944% 47.033%,3.944% 47.473%,3.38% 47.912%,3.38% 49.121%,3.521% 50.549%,2.958% 50.549%,2.958% 51.978%,3.38% 52.198%,3.38% 53.956%,2.535% 54.176%,2.817% 54.505%,2.817% 55.165%,1.972% 55.165%,1.831% 56.044%,2.676% 56.923%,2.535% 57.363%,2.254% 57.473%,2.254% 59.231%,2.676% 59.56%,2.254% 59.56%,2.254% 60%,2.535% 60%,2.676% 60.659%,3.662% 60.879%,3.944% 61.868%,3.38% 61.868%,3.239% 62.418%,3.944% 62.967%,3.944% 63.297%,3.38% 63.516%,3.38% 63.956%,4.225% 64.615%,4.225% 65.714%,3.662% 65.934%,4.789% 66.374%,5.07% 67.253%,4.225% 67.912%,4.225% 68.352%,4.789% 68.352%,4.789% 69.011%,3.944% 70.33%,3.944% 71.648%,5.07% 72.088%,5.07% 72.747%,5.352% 72.747%,5.352% 73.407%,4.366% 73.736%,4.507% 74.945%,4.225% 74.945%,2.817% 77.473%,3.944% 78.681%,3.944% 79.121%,2.817% 80.33%,2.817% 80.879%,0.282% 83.187%,1.408% 84.286%,1.408% 84.725%,0.845% 85.385%,1.549% 85.934%,1.549% 86.703%,0.845% 86.703%,0.845% 89.121%,1.972% 89.89%,1.972% 91.978%,1.972% 93.187%,2.535% 93.297%,2.535% 93.627%,1.972% 93.846%,3.38% 94.505%,3.38% 95.495%,2.535% 96.154%,2.676% 98.022%,3.38% 98.572%,3.38% 99.67%,3.099% 99.67% );
		@media #{$lg,$md,$sm,$xs} {
			display: none;
		}
	}
	.ed-cont6-side {
		top: 0;
		right: 0;
		width: 45%;
		height: 100%;
		clip-path: polygon( 3.099% 99.67%,3.099% 100%,100% 100%,100% 0%,1.69% 0%,1.69% 2.967%,0.141% 4.066%,0.986% 4.396%,0.986% 5.275%,0% 5.824%,0.563% 5.934%,0.563% 7.253%,0% 7.473%,2.817% 9.011%,2.817% 10.769%,2.394% 10.879%,2.394% 12.198%,3.099% 12.527%,3.099% 12.747%,2.254% 12.747%,2.394% 13.736%,5.07% 15.275%,5.211% 15.934%,5.352% 16.703%,5.07% 16.923%,5.07% 18.022%,5.352% 18.022%,5.352% 19.89%,5.07% 20.33%,4.789% 20.33%,4.789% 22.198%,5.07% 22.198%,5.07% 24.725%,2.958% 25.714%,2.817% 26.923%,1.972% 27.582%,1.69% 28.681%,1.127% 29.89%,1.127% 30.989%,0.845% 31.099%,0.845% 31.648%,1.127% 31.978%,1.127% 33.187%,2.254% 33.626%,2.254% 34.725%,1.972% 35.385%,2.535% 36.154%,2.535% 37.143%,2.817% 37.802%,3.38% 38.132%,3.38% 38.791%,2.535% 39.56%,2.535% 40.879%,3.099% 41.099%,3.099% 41.758%,2.254% 41.978%,2.254% 43.516%,3.662% 45.275%,3.662% 46.374%,3.099% 46.703%,3.944% 47.033%,3.944% 47.473%,3.38% 47.912%,3.38% 49.121%,3.521% 50.549%,2.958% 50.549%,2.958% 51.978%,3.38% 52.198%,3.38% 53.956%,2.535% 54.176%,2.817% 54.505%,2.817% 55.165%,1.972% 55.165%,1.831% 56.044%,2.676% 56.923%,2.535% 57.363%,2.254% 57.473%,2.254% 59.231%,2.676% 59.56%,2.254% 59.56%,2.254% 60%,2.535% 60%,2.676% 60.659%,3.662% 60.879%,3.944% 61.868%,3.38% 61.868%,3.239% 62.418%,3.944% 62.967%,3.944% 63.297%,3.38% 63.516%,3.38% 63.956%,4.225% 64.615%,4.225% 65.714%,3.662% 65.934%,4.789% 66.374%,5.07% 67.253%,4.225% 67.912%,4.225% 68.352%,4.789% 68.352%,4.789% 69.011%,3.944% 70.33%,3.944% 71.648%,5.07% 72.088%,5.07% 72.747%,5.352% 72.747%,5.352% 73.407%,4.366% 73.736%,4.507% 74.945%,4.225% 74.945%,2.817% 77.473%,3.944% 78.681%,3.944% 79.121%,2.817% 80.33%,2.817% 80.879%,0.282% 83.187%,1.408% 84.286%,1.408% 84.725%,0.845% 85.385%,1.549% 85.934%,1.549% 86.703%,0.845% 86.703%,0.845% 89.121%,1.972% 89.89%,1.972% 91.978%,1.972% 93.187%,2.535% 93.297%,2.535% 93.627%,1.972% 93.846%,3.38% 94.505%,3.38% 95.495%,2.535% 96.154%,2.676% 98.022%,3.38% 98.572%,3.38% 99.67%,3.099% 99.67% );
		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute; 
			background-color: rgba(0, 0, 0, 0.84);
		}
		@media #{$lg,$md,$sm,$xs} {
			width: 100%;
			margin: 0 auto;
			max-width: 720px;
			margin-bottom: 40px;
			position: relative !important;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.ed-cont6-form-area {
	max-width: 635px;
	@media #{$lg,$md,$sm,$xs} {
		margin: 0 auto;
		max-width: 720px;
	}
	.ed-sec-title-6 {
		.sec_title {
			color: #fff;
		}
		p {
			color: #fff;
		}
	}
}
.ed-cont6-form {
	margin-top: 50px;
	.info-input {
		position: relative;
		margin-bottom: 35px;
		label {
			top: -9px;
			left: 16px;
			color: #fff;
			line-height: 1;
			font-size: 14px;
			font-weight: 500;
			padding: 2px 8px;
			position: absolute;
			background-color: #900824;
			text-transform: uppercase;
		}
		input,textarea {
			width: 100%;
			height: 60px;
			border-radius: 4px;
			padding-left: 25px;
			border: 1px solid #FFFFFF;
			background-color: transparent;
			color: rgba(255, 255, 255, .48);
			&::placeholder {
				color: rgba(255, 255, 255, .48);
			}
		}
		textarea {
			height: 156px;
			padding-top: 20px;
		}
	}
	button {
		border: none;
		font-weight: 600;
		padding: 14px 24px;
		border-radius: 6px;
		background-color: #fff;
		color: var(--ed-prime-c9);
		transition: all 500ms ease-in-out;
		span {
			font-size: 16px;
			margin-right: 5px;
		}
		&:hover {
			color: var(--ed-tt-color-2);
			background-color: #F4BF00;
		}
	}
}
.ed-cont6-img-wrap {
	top: 100px;
	right: 260px;
	position: absolute;
	padding-bottom: 290px;
	@media #{$xxxl,$xxl} {
		right: 110px;
	}
	@media #{$xl} {
		right: 0px;
	}
	@media #{$xs} {
		display: none;
	}
	.item-img-wrap {
		.item-img1 {
			&:before {
				top: 8px;
				left: 1px;
				width: 100%;
				height: 100%;
				content: '';
				position: absolute;
				background-color: #fff;
				clip-path: polygon( 16.865% 98.042%,14.335% 99.987%,0% 12.061%,87.274% 0%,99.922% 78.394%,97.814% 78.394%,94.441% 75.671%,91.49% 75.865%,91.279% 74.893%,90.436% 74.893%,89.382% 75.865%,86.642% 75.476%,82.215% 71.586%,79.474% 71.78%,79.263% 71.391%,76.944% 71.78%,74.626% 70.224%,71.464% 71.391%,67.036% 69.446%,65.35% 70.613%,60.712% 67.695%,58.604% 67.501%,56.707% 68.473%,54.388% 67.306%,52.702% 67.501%,52.702% 71.78%,50.172% 73.726%,50.172% 77.033%,47.221% 80.923%,47.221% 85.203%,45.956% 85.592%,43.848% 88.51%,43.426% 89.482%,44.691% 89.871%,44.902% 90.455%,42.372% 95.124%,41.318% 94.734%,39.421% 94.734%,39.21% 95.513%,37.945% 95.124%,36.048% 95.124%,35.837% 95.902%,31.621% 96.096%,31.41% 97.458%,26.562% 97.458%,25.508% 99.014%,22.978% 99.014%,20.027% 97.458%,17.497% 97.458%,16.865% 98.042% );
			}
			.inner-img {
				clip-path: polygon( 16.865% 98.042%,14.335% 99.987%,0% 12.061%,87.274% 0%,99.922% 78.394%,97.814% 78.394%,94.441% 75.671%,91.49% 75.865%,91.279% 74.893%,90.436% 74.893%,89.382% 75.865%,86.642% 75.476%,82.215% 71.586%,79.474% 71.78%,79.263% 71.391%,76.944% 71.78%,74.626% 70.224%,71.464% 71.391%,67.036% 69.446%,65.35% 70.613%,60.712% 67.695%,58.604% 67.501%,56.707% 68.473%,54.388% 67.306%,52.702% 67.501%,52.702% 71.78%,50.172% 73.726%,50.172% 77.033%,47.221% 80.923%,47.221% 85.203%,45.956% 85.592%,43.848% 88.51%,43.426% 89.482%,44.691% 89.871%,44.902% 90.455%,42.372% 95.124%,41.318% 94.734%,39.421% 94.734%,39.21% 95.513%,37.945% 95.124%,36.048% 95.124%,35.837% 95.902%,31.621% 96.096%,31.41% 97.458%,26.562% 97.458%,25.508% 99.014%,22.978% 99.014%,20.027% 97.458%,17.497% 97.458%,16.865% 98.042% );
			}
		}
		.item-img2 {
			bottom: 0;
			width: 395px;
			height: 406px;
			right: -105px;
			position: absolute;
			&:before {
				top: -5px;
				left: -5px;
				width: 100%;
				content: '';
				height: 103%;
				position: absolute;
				background-color: #fff;
				clip-path: polygon( 4.999% 71.686%,0% 77.479%,0% 78.685%,73.239% 99.926%,99.986% 16.413%,87.737% 13.034%,83.738% 12.551%,83.738% 13.758%,79.989% 13.758%,78.239% 11.586%,78.239% 11.586%,77.934% 11.533%,77.58% 11.474%,77.192% 11.41%,76.784% 11.346%,76.37% 11.284%,75.966% 11.226%,75.586% 11.177%,75.246% 11.138%,74.958% 11.112%,74.739% 11.103%,74.739% 11.103%,74.587% 11.13%,74.485% 11.207%,74.427% 11.324%,74.408% 11.474%,74.421% 11.646%,74.459% 11.833%,74.516% 12.025%,74.586% 12.215%,74.662% 12.393%,74.739% 12.551%,72.99% 12.551%,67.49% 9.172%,65.74% 8.206%,64.491% 9.172%,63.241% 9.172%,58.242% 3.862%,56.492% 4.586%,55.742% 4.586%,52.992% 3.862%,51.993% 3.138%,48.243% 2.655%,48.243% 3.862%,46.743% 3.862%,43.494% 2.655%,40.744% 2.655%,40.244% 3.862%,39.244% 3.862%,37.245% 2.172%,34.245% 2.655%,32.745% 2.655%,29.496% 0.965%,26.746% 0.965%,26.746% 0%,24.996% 0%,24.996% 0.965%,23.247% 0.965%,17.497% 8.689%,17.497% 11.586%,18.747% 12.551%,18.747% 13.758%,17.497% 14.965%,17.497% 20.275%,16.248% 21.723%,16.248% 24.619%,14.498% 26.792%,15.248% 29.447%,14.748% 33.55%,13.498% 34.033%,12.998% 37.17%,11.748% 38.136%,12.248% 41.756%,9.999% 42.722%,9.999% 44.17%,8.499% 44.653%,8.499% 47.066%,7.999% 48.273%,6.999% 52.618%,8.499% 52.618%,8.499% 54.066%,6.999% 56.48%,6.999% 58.169%,6.249% 59.859%,6.999% 61.066%,6.999% 62.997%,3.749% 67.341%,3.749% 69.514%,4.999% 71.686% );
			}
			.inner-img {
				clip-path: polygon( 4.999% 71.686%,0% 77.479%,0% 78.685%,73.239% 99.926%,99.986% 16.413%,87.737% 13.034%,83.738% 12.551%,83.738% 13.758%,79.989% 13.758%,78.239% 11.586%,78.239% 11.586%,77.934% 11.533%,77.58% 11.474%,77.192% 11.41%,76.784% 11.346%,76.37% 11.284%,75.966% 11.226%,75.586% 11.177%,75.246% 11.138%,74.958% 11.112%,74.739% 11.103%,74.739% 11.103%,74.587% 11.13%,74.485% 11.207%,74.427% 11.324%,74.408% 11.474%,74.421% 11.646%,74.459% 11.833%,74.516% 12.025%,74.586% 12.215%,74.662% 12.393%,74.739% 12.551%,72.99% 12.551%,67.49% 9.172%,65.74% 8.206%,64.491% 9.172%,63.241% 9.172%,58.242% 3.862%,56.492% 4.586%,55.742% 4.586%,52.992% 3.862%,51.993% 3.138%,48.243% 2.655%,48.243% 3.862%,46.743% 3.862%,43.494% 2.655%,40.744% 2.655%,40.244% 3.862%,39.244% 3.862%,37.245% 2.172%,34.245% 2.655%,32.745% 2.655%,29.496% 0.965%,26.746% 0.965%,26.746% 0%,24.996% 0%,24.996% 0.965%,23.247% 0.965%,17.497% 8.689%,17.497% 11.586%,18.747% 12.551%,18.747% 13.758%,17.497% 14.965%,17.497% 20.275%,16.248% 21.723%,16.248% 24.619%,14.498% 26.792%,15.248% 29.447%,14.748% 33.55%,13.498% 34.033%,12.998% 37.17%,11.748% 38.136%,12.248% 41.756%,9.999% 42.722%,9.999% 44.17%,8.499% 44.653%,8.499% 47.066%,7.999% 48.273%,6.999% 52.618%,8.499% 52.618%,8.499% 54.066%,6.999% 56.48%,6.999% 58.169%,6.249% 59.859%,6.999% 61.066%,6.999% 62.997%,3.749% 67.341%,3.749% 69.514%,4.999% 71.686% );
			}
		}
	}
}