.ed-cont6-sec {
	overflow: hidden;
	background-color: #900824;
	&:before {
		top: 0;
		right: 0;
		content: '';
		width: 46%;
		height: 100%;
		position: absolute;
		background-color: #fff;
		clip-path: polygon( 3.099% 99.67%,3.099% 100%,100% 100%,100% 0%,1.69% 0%,1.69% 2.967%,0.141% 4.066%,0.986% 4.396%,0.986% 5.275%,0% 5.824%,0.563% 5.934%,0.563% 7.253%,0% 7.473%,2.817% 9.011%,2.817% 10.769%,2.394% 10.879%,2.394% 12.198%,3.099% 12.527%,3.099% 12.747%,2.254% 12.747%,2.394% 13.736%,5.07% 15.275%,5.211% 15.934%,5.352% 16.703%,5.07% 16.923%,5.07% 18.022%,5.352% 18.022%,5.352% 19.89%,5.07% 20.33%,4.789% 20.33%,4.789% 22.198%,5.07% 22.198%,5.07% 24.725%,2.958% 25.714%,2.817% 26.923%,1.972% 27.582%,1.69% 28.681%,1.127% 29.89%,1.127% 30.989%,0.845% 31.099%,0.845% 31.648%,1.127% 31.978%,1.127% 33.187%,2.254% 33.626%,2.254% 34.725%,1.972% 35.385%,2.535% 36.154%,2.535% 37.143%,2.817% 37.802%,3.38% 38.132%,3.38% 38.791%,2.535% 39.56%,2.535% 40.879%,3.099% 41.099%,3.099% 41.758%,2.254% 41.978%,2.254% 43.516%,3.662% 45.275%,3.662% 46.374%,3.099% 46.703%,3.944% 47.033%,3.944% 47.473%,3.38% 47.912%,3.38% 49.121%,3.521% 50.549%,2.958% 50.549%,2.958% 51.978%,3.38% 52.198%,3.38% 53.956%,2.535% 54.176%,2.817% 54.505%,2.817% 55.165%,1.972% 55.165%,1.831% 56.044%,2.676% 56.923%,2.535% 57.363%,2.254% 57.473%,2.254% 59.231%,2.676% 59.56%,2.254% 59.56%,2.254% 60%,2.535% 60%,2.676% 60.659%,3.662% 60.879%,3.944% 61.868%,3.38% 61.868%,3.239% 62.418%,3.944% 62.967%,3.944% 63.297%,3.38% 63.516%,3.38% 63.956%,4.225% 64.615%,4.225% 65.714%,3.662% 65.934%,4.789% 66.374%,5.07% 67.253%,4.225% 67.912%,4.225% 68.352%,4.789% 68.352%,4.789% 69.011%,3.944% 70.33%,3.944% 71.648%,5.07% 72.088%,5.07% 72.747%,5.352% 72.747%,5.352% 73.407%,4.366% 73.736%,4.507% 74.945%,4.225% 74.945%,2.817% 77.473%,3.944% 78.681%,3.944% 79.121%,2.817% 80.33%,2.817% 80.879%,0.282% 83.187%,1.408% 84.286%,1.408% 84.725%,0.845% 85.385%,1.549% 85.934%,1.549% 86.703%,0.845% 86.703%,0.845% 89.121%,1.972% 89.89%,1.972% 91.978%,1.972% 93.187%,2.535% 93.297%,2.535% 93.627%,1.972% 93.846%,3.38% 94.505%,3.38% 95.495%,2.535% 96.154%,2.676% 98.022%,3.38% 98.572%,3.38% 99.67%,3.099% 99.67% );
	}
	.ed-cont6-side {
		top: 0;
		right: 0;
		width: 45%;
		height: 100%;
		clip-path: polygon( 3.099% 99.67%,3.099% 100%,100% 100%,100% 0%,1.69% 0%,1.69% 2.967%,0.141% 4.066%,0.986% 4.396%,0.986% 5.275%,0% 5.824%,0.563% 5.934%,0.563% 7.253%,0% 7.473%,2.817% 9.011%,2.817% 10.769%,2.394% 10.879%,2.394% 12.198%,3.099% 12.527%,3.099% 12.747%,2.254% 12.747%,2.394% 13.736%,5.07% 15.275%,5.211% 15.934%,5.352% 16.703%,5.07% 16.923%,5.07% 18.022%,5.352% 18.022%,5.352% 19.89%,5.07% 20.33%,4.789% 20.33%,4.789% 22.198%,5.07% 22.198%,5.07% 24.725%,2.958% 25.714%,2.817% 26.923%,1.972% 27.582%,1.69% 28.681%,1.127% 29.89%,1.127% 30.989%,0.845% 31.099%,0.845% 31.648%,1.127% 31.978%,1.127% 33.187%,2.254% 33.626%,2.254% 34.725%,1.972% 35.385%,2.535% 36.154%,2.535% 37.143%,2.817% 37.802%,3.38% 38.132%,3.38% 38.791%,2.535% 39.56%,2.535% 40.879%,3.099% 41.099%,3.099% 41.758%,2.254% 41.978%,2.254% 43.516%,3.662% 45.275%,3.662% 46.374%,3.099% 46.703%,3.944% 47.033%,3.944% 47.473%,3.38% 47.912%,3.38% 49.121%,3.521% 50.549%,2.958% 50.549%,2.958% 51.978%,3.38% 52.198%,3.38% 53.956%,2.535% 54.176%,2.817% 54.505%,2.817% 55.165%,1.972% 55.165%,1.831% 56.044%,2.676% 56.923%,2.535% 57.363%,2.254% 57.473%,2.254% 59.231%,2.676% 59.56%,2.254% 59.56%,2.254% 60%,2.535% 60%,2.676% 60.659%,3.662% 60.879%,3.944% 61.868%,3.38% 61.868%,3.239% 62.418%,3.944% 62.967%,3.944% 63.297%,3.38% 63.516%,3.38% 63.956%,4.225% 64.615%,4.225% 65.714%,3.662% 65.934%,4.789% 66.374%,5.07% 67.253%,4.225% 67.912%,4.225% 68.352%,4.789% 68.352%,4.789% 69.011%,3.944% 70.33%,3.944% 71.648%,5.07% 72.088%,5.07% 72.747%,5.352% 72.747%,5.352% 73.407%,4.366% 73.736%,4.507% 74.945%,4.225% 74.945%,2.817% 77.473%,3.944% 78.681%,3.944% 79.121%,2.817% 80.33%,2.817% 80.879%,0.282% 83.187%,1.408% 84.286%,1.408% 84.725%,0.845% 85.385%,1.549% 85.934%,1.549% 86.703%,0.845% 86.703%,0.845% 89.121%,1.972% 89.89%,1.972% 91.978%,1.972% 93.187%,2.535% 93.297%,2.535% 93.627%,1.972% 93.846%,3.38% 94.505%,3.38% 95.495%,2.535% 96.154%,2.676% 98.022%,3.38% 98.572%,3.38% 99.67%,3.099% 99.67% );
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute; 
			background-color: rgba(0, 0, 0, 0.84);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.ed-cont6-form-area {
	max-width: 635px;
	.ed-sec-title-6 {
		.sec_title {
			color: #fff;
		}
		p {
			color: #fff;
		}
	}
}
.ed-cont6-form {
	margin-top: 50px;
	.info-input {
		position: relative;
		margin-bottom: 35px;
		label {
			top: -9px;
			left: 16px;
			color: #fff;
			line-height: 1;
			font-size: 14px;
			font-weight: 500;
			padding: 2px 8px;
			position: absolute;
			background-color: #900824;
			text-transform: uppercase;
		}
		input,textarea {
			width: 100%;
			height: 60px;
			border-radius: 4px;
			padding-left: 25px;
			border: 1px solid #FFFFFF;
			background-color: transparent;
			color: rgba(255, 255, 255, .48);
			&::placeholder {
				color: rgba(255, 255, 255, .48);
			}
		}
		textarea {
			height: 156px;
			padding-top: 20px;
		}
	}
	button {
		border: none;
		font-weight: 600;
		padding: 14px 24px;
		border-radius: 6px;
		background-color: #fff;
		color: var(--ed-prime-c9);
		span {
			font-size: 16px;
			margin-right: 5px;
		}
	}
}