.ed-prg6-sec {
	overflow: hidden;
	.ed-prg6-top-shape {
		top: -20px;
		left: 0;
		svg {
			width: 100%;
		}
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
	.ed-prg6-bottom-shape {
		left: 0;
		bottom: -20px;
		@media #{$md,$sm,$xs} {
			display: none;
		}
		svg {
			width: 100%;
		}
	}
	.ed-prg6-shape1 {
		left: 0;
		z-index: 1;
		top: 180px;
		@media #{$xxxl} {
			left: -100px;
		}
		@media #{$xxl} {
			left: -200px;
		}
		@media #{$xl,$lg,$md,$sm,$xs} {
			display: none;
		}
	}
	.ed-prg6-shape2 {
		right: 0px;
		z-index: 1;
		bottom: 150px;
		@media #{$xxxl} {
			right: -100px;
		}
		@media #{$xxl} {
			right: -200px;
		}
		@media #{$xl,$lg,$md,$sm,$xs} {
			display: none;
		}
	}
}
.ed-prg6-wrap{
	overflow: hidden;
	padding-top: 190px;
	padding-bottom: 170px;
	background-color: #F5EFE7;
	clip-path: polygon( 0% 4.821%,0% 4.833%,0% 95.128%,0% 99.322%,2.802% 99.962%,2.802% 99.962%,2.853% 99.951%,3.005% 99.921%,3.248% 99.878%,3.577% 99.825%,3.984% 99.767%,4.463% 99.71%,5.007% 99.657%,5.608% 99.613%,6.261% 99.584%,6.957% 99.573%,6.957% 99.573%,7.696% 99.541%,8.466% 99.456%,9.241% 99.331%,9.995% 99.179%,10.703% 99.013%,11.339% 98.847%,11.879% 98.695%,12.296% 98.57%,12.564% 98.485%,12.659% 98.453%,12.659% 98.453%,12.697% 98.454%,12.798% 98.455%,12.946% 98.458%,13.127% 98.465%,13.324% 98.476%,13.52% 98.493%,13.701% 98.516%,13.85% 98.547%,13.951% 98.587%,13.988% 98.637%,13.988% 98.637%,14.041% 98.688%,14.185% 98.733%,14.397% 98.771%,14.655% 98.804%,14.935% 98.83%,15.215% 98.851%,15.473% 98.866%,15.685% 98.877%,15.829% 98.883%,15.882% 98.885%,16.986% 98.453%,18.513% 98.453%,26.102% 98.885%,27.013% 98.453%,29.026% 98.453%,29.736% 98.453%,31.834% 97.866%,33.662% 97.866%,37.519% 96.527%,37.519% 96.527%,37.675% 96.521%,38.118% 96.507%,38.808% 96.49%,39.703% 96.476%,40.765% 96.47%,41.953% 96.476%,43.228% 96.501%,44.548% 96.549%,45.875% 96.625%,47.168% 96.736%,47.168% 96.736%,48.443% 96.855%,49.721% 96.954%,50.97% 97.034%,52.157% 97.098%,53.25% 97.148%,54.217% 97.184%,55.026% 97.21%,55.643% 97.225%,56.037% 97.234%,56.176% 97.236%,59.083% 97.434%,59.083% 97.434%,59.153% 97.428%,59.347% 97.413%,59.641% 97.391%,60.014% 97.364%,60.441% 97.335%,60.899% 97.306%,61.366% 97.279%,61.817% 97.256%,62.23% 97.241%,62.581% 97.236%,62.581% 97.236%,62.912% 97.241%,63.268% 97.256%,63.635% 97.279%,64% 97.306%,64.347% 97.335%,64.663% 97.364%,64.934% 97.391%,65.145% 97.413%,65.282% 97.428%,65.331% 97.434%,73.72% 96.481%,75.321% 96.296%,76.226% 96.736%,79.947% 96.481%,79.947% 96.481%,79.958% 96.473%,79.996% 96.454%,80.064% 96.428%,80.166% 96.4%,80.306% 96.376%,80.488% 96.36%,80.718% 96.357%,80.997% 96.373%,81.332% 96.413%,81.726% 96.481%,81.726% 96.481%,82.229% 96.554%,82.886% 96.612%,83.649% 96.657%,84.472% 96.689%,85.31% 96.711%,86.117% 96.725%,86.847% 96.733%,87.453% 96.736%,87.891% 96.737%,88.113% 96.736%,88.131% 96.736%,88.131% 96.736%,88.227% 96.731%,88.451% 96.717%,88.772% 96.692%,89.156% 96.657%,89.571% 96.611%,89.983% 96.553%,90.361% 96.484%,90.671% 96.402%,90.882% 96.308%,90.959% 96.201%,90.959% 96.201%,90.994% 96.13%,91.094% 96.075%,91.248% 96.033%,91.445% 96.002%,91.677% 95.982%,91.931% 95.969%,92.199% 95.963%,92.469% 95.961%,92.733% 95.963%,92.979% 95.966%,92.979% 95.966%,93.083% 95.967%,93.18% 95.968%,93.269% 95.968%,93.35% 95.969%,93.421% 95.968%,93.481% 95.966%,93.53% 95.964%,93.565% 95.96%,93.588% 95.955%,93.595% 95.948%,93.595% 95.948%,93.605% 95.939%,93.634% 95.936%,93.68% 95.938%,93.741% 95.945%,93.815% 95.955%,93.901% 95.969%,93.997% 95.986%,94.101% 96.006%,94.211% 96.027%,94.326% 96.049%,94.326% 96.049%,94.439% 96.07%,94.553% 96.092%,94.666% 96.113%,94.776% 96.133%,94.883% 96.152%,94.984% 96.168%,95.078% 96.181%,95.163% 96.192%,95.238% 96.198%,95.301% 96.201%,98.417% 96.201%,98.417% 96.201%,98.639% 96.176%,98.862% 96.107%,99.081% 96.004%,99.29% 95.877%,99.483% 95.734%,99.653% 95.586%,99.796% 95.442%,99.906% 95.311%,99.975% 95.203%,100% 95.128%,100% 4.833%,100% 4.821%,100% 0.64%,97.198% 0%,97.198% 0%,97.147% 0.011%,96.995% 0.04%,96.752% 0.084%,96.423% 0.137%,96.016% 0.194%,95.537% 0.252%,94.993% 0.305%,94.392% 0.348%,93.739% 0.378%,93.043% 0.389%,93.043% 0.389%,92.304% 0.42%,91.534% 0.505%,90.759% 0.63%,90.005% 0.783%,89.297% 0.948%,88.661% 1.114%,88.121% 1.266%,87.705% 1.392%,87.436% 1.477%,87.341% 1.508%,87.341% 1.508%,87.303% 1.508%,87.202% 1.507%,87.054% 1.503%,86.873% 1.497%,86.676% 1.485%,86.48% 1.469%,86.299% 1.445%,86.15% 1.414%,86.049% 1.374%,86.012% 1.325%,86.012% 1.325%,85.959% 1.273%,85.815% 1.228%,85.603% 1.19%,85.345% 1.158%,85.065% 1.131%,84.785% 1.111%,84.527% 1.095%,84.315% 1.084%,84.171% 1.078%,84.118% 1.076%,83.014% 1.508%,81.487% 1.508%,73.898% 1.076%,72.987% 1.508%,70.974% 1.508%,70.264% 1.508%,68.166% 2.096%,66.338% 2.096%,62.481% 3.435%,62.481% 3.435%,62.325% 3.441%,61.882% 3.454%,61.193% 3.471%,60.297% 3.485%,59.235% 3.492%,58.047% 3.486%,56.773% 3.461%,55.452% 3.413%,54.125% 3.336%,52.832% 3.225%,52.832% 3.225%,51.557% 3.107%,50.279% 3.008%,49.03% 2.927%,47.843% 2.863%,46.75% 2.814%,45.783% 2.777%,44.974% 2.752%,44.357% 2.736%,43.962% 2.728%,43.824% 2.726%,40.917% 2.528%,40.917% 2.528%,40.847% 2.533%,40.653% 2.548%,40.359% 2.57%,39.986% 2.597%,39.559% 2.627%,39.101% 2.656%,38.634% 2.683%,38.183% 2.705%,37.77% 2.72%,37.419% 2.726%,37.419% 2.726%,37.089% 2.72%,36.733% 2.705%,36.365% 2.683%,36% 2.656%,35.653% 2.627%,35.337% 2.597%,35.066% 2.57%,34.855% 2.548%,34.718% 2.533%,34.669% 2.528%,26.28% 3.48%,24.679% 3.666%,23.774% 3.225%,20.053% 3.48%,20.053% 3.48%,20.042% 3.488%,20.004% 3.507%,19.936% 3.533%,19.835% 3.561%,19.694% 3.586%,19.512% 3.602%,19.282% 3.604%,19.003% 3.588%,18.668% 3.548%,18.274% 3.48%,18.274% 3.48%,17.77% 3.407%,17.114% 3.349%,16.351% 3.305%,15.528% 3.272%,14.689% 3.25%,13.883% 3.236%,13.153% 3.228%,12.547% 3.225%,12.109% 3.225%,11.887% 3.225%,11.887% 3.225%,11.884% 3.225%,11.882% 3.225%,11.879% 3.225%,11.877% 3.225%,11.875% 3.225%,11.874% 3.225%,11.872% 3.225%,11.871% 3.225%,11.87% 3.225%,11.869% 3.225%,11.869% 3.225%,11.773% 3.23%,11.549% 3.245%,11.228% 3.269%,10.844% 3.305%,10.429% 3.351%,10.017% 3.408%,9.639% 3.478%,9.329% 3.559%,9.119% 3.654%,9.041% 3.761%,9.041% 3.761%,9.006% 3.831%,8.906% 3.886%,8.752% 3.928%,8.555% 3.959%,8.324% 3.98%,8.069% 3.992%,7.801% 3.999%,7.531% 4%,7.267% 3.999%,7.021% 3.996%,7.021% 3.996%,6.917% 3.995%,6.82% 3.994%,6.731% 3.993%,6.65% 3.993%,6.579% 3.994%,6.519% 3.995%,6.47% 3.998%,6.434% 4.001%,6.412% 4.007%,6.404% 4.013%,6.404% 4.013%,6.394% 4.022%,6.366% 4.025%,6.32% 4.024%,6.259% 4.017%,6.185% 4.006%,6.099% 3.992%,6.003% 3.975%,5.899% 3.956%,5.789% 3.935%,5.674% 3.913%,5.674% 3.913%,5.674% 3.913%,5.561% 3.891%,5.447% 3.869%,5.334% 3.848%,5.224% 3.828%,5.117% 3.81%,5.016% 3.794%,4.922% 3.78%,4.837% 3.77%,4.762% 3.763%,4.699% 3.761%,1.583% 3.761%,1.583% 3.761%,1.366% 3.785%,1.147% 3.851%,0.932% 3.95%,0.727% 4.073%,0.537% 4.212%,0.367% 4.357%,0.223% 4.499%,0.11% 4.629%,0.035% 4.74%,0.001% 4.821%,0% 4.821% );
	@media #{$xs} {
		clip-path: none;
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
.ed-prg6-top-content {
	gap: 20px 0px;
	.ed-sec-title-6 {
		max-width: 510px;
	}
}
.ed-prg-filter-btn {
	button {
		padding: 0;
		border: none;
		font-size: 26px;
		margin-left: 20px;
		color: rgba(5, 5, 5, .32);
		background-color: transparent;
		transition: all 500ms ease-in-out;
		@media #{$xs} {
			font-size: 20px;
		}
		&:is(.is-checked) {
			color: var(--ed-prime-c9);
		}
	}
}
.ed-prg6-item {
	padding: 16px;
	margin: 0 auto;
	background-color: #fff;
	transition: all 500ms ease-in-out;
	.item-text-img {
		overflow: hidden;
		border-radius: 8px;
		background-color: #F5EFE7;
		transition: all 500ms ease-in-out;
	}
	.item-img {
		overflow: hidden;
		border-radius: 8px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.item-text {
		padding: 30px 32px 24px;
		.course_title {
			font-size: 24px;
			font-weight: 500;
			line-height: 1.25;
			padding-bottom: 14px;
			@media #{$lg,$md,$sm,$xs} {
				font-size: 22px;
			}
		}
		p {
			padding-bottom: 25px;
			@media #{$lg,$md,$sm,$xs} {
				font-size: 16px;
			}
		}
		.crs-meta {
			a {
				font-size: 16px;
				padding: 8px 20px;
				margin-right: 12px;
				margin-bottom: 6px;
				border-radius: 4px;
				background-color: #FFFFFF;
				color: var(--ed-black-color);
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.item-arrow {
		a {
			margin-top: 14px;
			position: relative;
			span {
				top: 0;
				left: 0;
				opacity: 0;
				color: #fff;
				font-weight: 500;
				position: absolute;
				white-space: nowrap;
				transform: scale(.7);
				transition: all 500ms ease-in-out;
			}
			svg {
				path {
					transition: all 500ms ease-in-out;
				}
			}
		}
	}
	&:hover {
		background-color: var(--ed-prime-c9);
		box-shadow: 16px 16px 28px 0px #00000052;
		.item-text-img {
			background-color: #fff;
		}
		.item-text {
			.crs-meta { 
				a {
					background-color: #F5EFE7;
				}
			}
		}
		.item-arrow {
			a {
				padding-left: 105px;
			}
			span {
				opacity: 1;
				transform: scale(1.0);
			}
			svg {
				path {
					fill: #fff
				}
			}
		}
	}
}
.ed-filter6-area {
	margin: 0px -20px;
	.grid-sizer {
		width: 33.33%;
		@media #{$lg} {
			width: 50%;
		}
		@media #{$md} {
			width: 50%;
		}
		@media #{$sm,$xs} {
			width: 100%;
		}
	}
	.grid-item {
		float: left;
		padding: 16px;
		display: inline-block;
	} 
	.grid-size-25 {
		width: 33.33%;
		@media #{$lg} {
			width: 50%;
		}
		@media #{$md} {
			width: 50%;
		}
		@media #{$sm,$xs} {
			width: 100%;
		}
	}
}