.ed-breadcrumb-content {
	padding-top: 248px;
	padding-bottom: 205px;
	@media #{$lg} {
		padding-top: 180px;
		padding-bottom: 120px;
	}
	@media #{$md,$sm,$xs} {
		padding-top: 160px;
		padding-bottom: 80px;
	}
	@media #{$xxs} {
		padding-top: 130px;
		padding-bottom: 60px;
	}
	.bread_title {
		color: #171616;
		line-height: 1;
		font-size: 80px;
		font-weight: 800;
		margin-bottom: 25px;
		@media #{$md,$sm,$xs} {
			font-size: 60px;
			margin-bottom: 15px;
		}
		@media #{$xxs} {
			font-size: 45px;
		}
	}
	ul {
		padding: 13px 25px;
		border-radius: 40px;
		display: inline-block;
		border: 2px solid transparent;
		box-shadow: 0 4px 0 0 var(--ed-tt-color);
		background: linear-gradient(#fff, #fff) padding-box, linear-gradient(-90deg, rgba(1, 240, 233, 0.6) 0%, rgba(0, 255, 180, 0.6) 100%) border-box;
		@media #{$xxs} {
			padding: 10px 18px;
		}
		li {
			color: #1716167A;
			font-weight: 700;
			margin-right: 35px;
			position: relative;
			@media #{$xxs} {
				font-size: 16px;
			}
			&:before {
				top: 7px;
				right: -30px;
				width: 20px;
				content: '';
				height: 20px;
				position: absolute;
				background-image: url(../img/icon/arrow-7.svg);
				@media #{$xxs} {
					top: 3px;
				}
			}
			&:last-child {
				margin-right: 0;
				&:before {
					display: none;
				}
			}
			a {
				color: #1D1D1D;
			}
		}
	}
}
.ed-breadcrumb2-sec {
	padding-top: 150px;
	@media #{$lg,$md,$sm} {
		padding-top: 100px;
	}
	@media #{$xs} {
		padding-top: 90px;
	}
	@media #{$xxs} {
		padding-top: 80px;
	}
}
.ed-breadcrumb-content2 {  
	z-index: 1;
	padding-top: 80px;
	padding-bottom: 120px;
	@media #{$xxs} {
		padding-bottom: 60px;
	}
	&:before {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
	}
}
.ed-breadcrumb-text2 {
	max-width: 925px;
	.ed-back-btn {
		a {
			color: #fff;
			i {
				font-size: 16px;
				margin-right: 5px;
				@extend%gradient-text;
			}
		}
	}
	.bread_title {
		color: #FFFFFF;
		font-size: 60px;
		font-weight: 800;
		padding-top: 155px;
		padding-bottom: 45px;
		@media #{$md,$sm,$xs} {
			font-size: 50px;
			padding-top: 60px;
			padding-bottom: 25px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}
	}
	ul {
		gap: 60px;
		display: flex;
		@media #{$md,$sm,$xs} {
			gap: 15px 30px;
			flex-wrap: wrap;
		}
	}
	li {
		gap: 20px;
		color: #FFFFFF;
		font-weight: 500;
		align-items: center;
		display: flex !important;
		i {
			width: 60px;
			height: 60px;
			display: flex;
			color: #00FFB4;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			background-color: #565656;
			@media #{$xxs} {
				width: 50px;
				height: 50px;
			}
		}
	}
	&:is(.ver_2) {
		max-width: 100%;
		.ed-back-btn {
			text-align: left;
		}
		.blog-item-meta {
			margin-top: 135px;
			text-align: center;
			padding: 13px 12px;
			margin-bottom: 30px;
			border-radius: 100px;
			display: inline-block;
			background-color: rgba(255, 255, 255, 0.12);
			@media #{$xs} {
				margin-top: 50px;
			}
			a {
				color: #FFFFFF;
				font-size: 18px;
				margin: 0px 20px;
				i {
					margin-right: 8px;
				}
			}
		}
		.bread_title {
			padding-top: 0;
			margin: 0 auto;
			max-width: 1100px;
		}
	}
}